[2020-05-07 10:24] Rokt33r opened #462 "i18n for homepage"
[Our homepage](https://boostnote.io) has been renewed in #460! But lots of locales are missing. Please help us to support i18n properly. It would be really helpful for people who can not speak English.

- [x] Spanish
- [x] French https://github.com/BoostIO/BoostNote.next/pull/466
- [x] German https://github.com/BoostIO/BoostNote.next/pull/465
- [ ] Japanese
- [ ] Korean
- [ ] Dutch
- [ ] Portugues

[2020-05-07 13:57] foxale opened #463 "Pasting images"
# Current behavior
Pasting / drag & dropping images adds an empty new line

# Expected behavior
Pasting / drag & dropping images will behave in a similar fashion to legacy boostnote as presented here: [link do yt video](https://www.youtube.com/watch?v=R7MRSFWdOO4&feature=youtu.be&fbclid=IwAR3lfmnUL1tggiLbg7FyopAF3eAX_e4WjmrSmk1KTxay0fNbZ-DD36bt5J0)

# Steps to reproduce
1. Paste / drag & drop imag

[2020-05-07 14:20] foxale opened #464 "Custom vim mappings"
# Current behavior
No custom vim keyboard mappings in the UI. A [trick](https://github.com/BoostIO/Boostnote/wiki/Vim-mode#custom-keymaps) proposed on legacy BoostNote's wiki page won't work either.
![image](https://user-images.githubusercontent.com/14327763/81305321-7e738380-907e-11ea-9cec-43917e72b150.png)

# Expected behavior
Some way of customizing vim mappings will be possible.

# Steps to re

[2020-05-07 16:57] sysadt commented on #462
Can you clarify line 6 `fileSystemBasedStorage: 'File System Based Storage'` please?
Is it local storage, instead of cloud storage?

[2020-05-07 18:43] foxale commented on #464
I've done some digging in the meantime, and [here](https://github.com/codemirror/CodeMirror/issues/2840) is the workaround for anyone who comes across this issue:
`document.querySelector('.CodeMirror').CodeMirror.constructor.Vim.map('jk', '<Esc>', 'insert')
`

[2020-05-07 19:28] Flexo013 commented on #462
Yes, this means a local storage, where the notes are stored as individual files as opposed to a single db file.

[2020-05-07 19:39] Flexo013 commented on #463
Thanks for the issue report! I can't seems to reproduce this problem. And the video you linked shows the functionality working.

Is the dragging and dropping of images from finder not working for you on macOS?

[2020-05-07 19:57] Flexo013 commented on #461
Here are some textual improvements:

An intuitive and stylish markdown note app for developers. *And it's* fully open-source.

We'll launch the clean and simple wiki **specifically** optimized for developers called "Boost Hub" *in* June 2020!

Notes will be safely stored in the cloud. Making them accessible from other devices.

Multi-platform
Boost Note is available as a desktop app, a mobile app,

[2020-05-07 20:07] Flexo013 commented on #457
Confirmed on Windows 10. There is no way to move a note to the root folder of a storage.

[2020-05-07 20:10] Flexo013 commented on #326
@MihaelBercic Can you try using the latest installer? Then this issue should not be occurring.

If you do get this error, please post a screenshot in this thread, and any other info you might have. Then we will reopen this issue.

[2020-05-07 20:23] Flexo013 commented on #333
Awesome to hear that this is scheduled for 0.6.0! We can always expand on the functionality going forward from that version.

I think this design would be least intrusive:

[2020-05-07 21:02] arcturus140 commented on #461
And it's fully open-source!

from all your devices.

(tin foil hat activated, haha )

~~Boost Note supports math blocks. In the blocks, you can write math equations with LaTeX syntax.~~

Write your mathematical expressions effortlessly with LaTeX, directly embedded in your Markdown notes!

[2020-05-08 07:56] foxale commented on #463
You're right, I checked it exactly as presented in video and it's working. Nice.

I would argue though, that dragging & dropping images from Finder is a way less common use case than copy-pasting from clipboard; especially for a next level tool for developers like Boost Note. I guess this would be my "expected behaviour" and game-changing feature in itself after all.

[2020-05-08 08:53] marilari88 opened #468 "Add pasting images from clipboard"
# Current behavior

Cannot paste images from clipboard. Nothing happen after pressing CTRL+v

# Expected behavior

Upload ad attach image from clipboard to the note

# Steps to reproduce

1.  Copy an image to clipboard (es in Windows it's possible capture a screen portion with WIN+Shift+s)
2.  Launch Boostnote and open a note
3.  Press CTRL + v (also mouse right button and paste not working)

# En

[2020-05-08 17:07] Flexo013 commented on #463
Let's move this discussion to #468, as that one is a little more detailed.

[2020-05-08 17:07] #463 closed

[2020-05-10 08:51] Rokt33r commented on #461
@Flexo013 @arcturus140 Thanks for the feedback. I'm going to fix this issue in this week. Once the pr is ready, I'll ask you to review it.

[2020-05-10 09:11] Rokt33r commented on #133
@BramManuel Are you using the app in web browser?

[2020-05-10 09:11] Rokt33r commented on #449
Resolved in #458. I might add more modification but I like the suggestion! Thanks for contributing!

[2020-05-10 09:11] #449 closed

[2020-05-10 13:32] Rokt33r opened #469 "Notes in note list are disappearing after creating a note in a folder"
Creating a note when a folder is selected makes note list look empty. It is an UI issue so your note data shouldn't be compromised by this bug.

I'll fix this in this week and release new version soon.

[2020-05-10 18:18] #469 closed

[2020-05-10 18:33] Rokt33r commented on #228
Close this issue in favor of https://github.com/BoostIO/BoostNote.next/issues/462. The i18n for app will be furthered in other issue. If you're interested i18n for the app, please join #dev-next channel in our slack and.
https://join.slack.com/t/boostnote-group/shared_invite/zt-cun7pas3-WwkaezxHBB1lCbUHrwQLXw

[2020-05-10 18:33] #228 closed

[2020-05-11 07:39] philippludwig commented on #244
Sadly this issue still occurs, at least for me on Debian.

[2020-05-11 08:15] BramManuel commented on #133
@Rokt33r This was a issue on 12 Dec 2019 , but to this date this issue is resolved. If have checkt this om my local machine.

[2020-05-11 17:18] Flexo013 commented on #133
The hotkey listed works on the dedicated app, but not within a web browser.

[2020-05-11 17:21] Flexo013 commented on #244
@philippludwig What OS are you running on?

[2020-05-11 17:36] dJani97 opened #471 "Email redirects do not work with uBlock"
Hi!

I've been using Boost Note for a while, and I noticed that I cannot open any links contained in the emails. This happens because the site you're using for your redirects is blocked by the Firefox version of uBlock Origin (1.26.2). The issue does not seem to exist on Chromium, but this may only happen because currently the Chrome web store has a little bit older version of this extension.

Thi

[2020-05-11 21:03] philippludwig commented on #244
As I wrote above, I am running Debian. The release is 10.4.

[2020-05-12 08:27] limjh16 opened #472 "Weird text selection on Android app"
# Current behavior

When trying to select a chunk of text, the popup which allows you to copy text either disappears instantly, or it doesn't allow you to copy text at all, as shown in the screenshot:

<details><summary>screenshot</summary>

![Screenshot_20200512-161948](https://user-images.githubusercontent.com/15180396/81659987-d2aaa900-946c-11ea-848d-80e0a51e2729.png)

</details>

I didn't have

[2020-05-12 12:06] Ashllives opened #473 "Missing folder and notes"
# Current behavior
When I reopened my app to update one of my notes, it's folder is gone and so are my notes. When I checked the storage, the folder for my other storage aside from default is gone too. I tried to retrieve my notes from my drive but they were not updated also, most of my notes were not there too. I don't know what happened. I did not update my OS. But my boostnote app was updated l

[2020-05-12 14:13] jhdcruz commented on #473
The app you are referring to should be the latest "**Boostnote Legacy**", [BoostIO/Boostnote](https://github.com/BoostIO/Boostnote).

**BoostNote.next** is only at `v0.4.1`.

[2020-05-12 14:14] pseigler opened #474 "Support for Note/Attention/etc containers"
# Current behavior

The original Boostnote desktop client would allow containers using

<pre>
!!! note/attention/etc Note Title
Testing a block
!!!
</pre>

The current build of Boost Note.next renders the same markdown as -

![image](https://user-images.githubusercontent.com/12180260/81702057-6f028a80-9430-11ea-93ef-b6dfa0ddcd71.png)

# Expected behavior

The container would render as follows -

!

[2020-05-12 18:44] arcturus140 commented on #474
Note that docarys/markdown-it-admonition#6 does not support nested admonitions. Maybe https://github.com/nebrelbug/react-admonitions is a good alternative - it does support nested admonitions, as well.

It uses the following format:

[code]

I don't know if it can be integrated to be used with markdown so it uses the format

[code]

[2020-05-13 17:03] Tracyseu opened #476 "Support for Mac 10.15"
OS version: Mac OSX 10.15 can`t run the lastest version of team or legacy.

[2020-05-13 21:25] luoxiao78 commented on #244
same here, also using Debian 10.

[2020-05-14 02:21] k3ntar0 commented on #476
I have same issue.
Opening Boost Note.app display the dialogue.
macOS 10.15.4

![スクリーンショット 2020-05-14 11 18 48](https://user-images.githubusercontent.com/11198599/81885168-b0cc3600-95d4-11ea-981f-ecec17f0df9e.png)

[2020-05-14 04:31] rohan-git commented on #326
_For me, it threw the same error. This is from the **boost-note-mac.dmg**  ..._

<img width="1054" alt="Screen Shot 2020-05-14 at 12 27 44 AM" src="https://user-images.githubusercontent.com/1411081/81892771-f3145980-9579-11ea-98b3-d26c95cbb38a.png">

[2020-05-14 11:16] LiliyaStefanova commented on #326
Hello,

Also on Catalina - I tried the latest installer (0.41) and got the same message as @rohan-git .

Because this is not an "unidentified developer" I get no option to run this app in "Security & Privacy".

Any suggestions for a workaround, or if you could re-open the issue would be great, thanks!

![image](https://user-images.githubusercontent.com/5617618/81928123-b3328e00-95dc-11ea-94d7-2cf2

[2020-05-17 13:19] SinclairHudson commented on #474
+1

[2020-05-17 13:43] miochung7 opened #485 "Accidentally deleted storage"
# Current behavior

Is there any way of retrieving it?

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

- Boostnote version:
- OS version and name:

[2020-05-18 08:16] gdalsnes opened #479 "Middle mouse button on a note "card" opens a new empty Boost Note app. window"
# Current behavior

Middle mouse button on a note "card" opens a new empty Boost Note app. window.

# Expected behavior

Not sure, probably nothing should happen.

# Steps to reproduce

Click a "note "card" with middle mouse button

# Environment

## Desktop/Web
- Boost Note.next version:  0.4.1
- OS version and name: Win 7

BTW: I would love if you could make the arrow up\down keys work for navig

[2020-05-18 16:19] Flexo013 commented on #471
Thanks for opening this issue! Let's see if we can narrow down the problem and find a solution.

The link you provided does indeed go nowhere. I'm not sure which email list this originates from, and whether something can be changed within the settings of that email list.

@Rokt33r most likely knows more about this.

[2020-05-18 17:41] Flexo013 commented on #472
I can indeed reproduce the inability to select text within a normal text line. The text is selected very briefly and then the cursor is placed where you were holding down.

Workaround: You can select symbols within a line normally and then drag the selection around to actually copy what you want.

I haven't been able to reproduce the pop-up not giving the copy option. From what I can see in the sc

[2020-05-18 18:04] sysadt commented on #476
For me it's working on macOS 10.15.4, downloaded from boostnote.next website

[2020-05-18 18:05] Flexo013 commented on #244
Reopening this as it still seems to be an issue with the latest version.

@philippludwig @luoxiao78 Do either of you have Boostnote and BoostNote.next installed? What version are you trying to install? (Probs 0.4.1)

[2020-05-18 18:10] Flexo013 commented on #326
Possibly related to: #244

[2020-05-18 18:25] Flexo013 commented on #479
The default browser behavior of middle clicking is to open the link in a new tab. We should probably catch it to do nothing. If we can think of a good shortcut to add to that button later, then we can add it.

I'd recommend turning your BTW into a new separate issue/feature request. That will help it get noticed ;)

[2020-05-18 19:27] philippludwig commented on #244
I installed the `boost-note-linux.deb` package from the main page, which carries version 0.4.1 apparently.

[2020-05-18 21:17] Rokt33r commented on #471
Interesting. AFAIK, we're using https://www.sendinblue.com to send emails. So our option could be letting sendinblue to fix the problem or switching to other email services. I'll ask my team to contact sendinblue.

[2020-05-19 02:55] limjh16 commented on #472
Hey, you can see the cursor marking the end, and also the text has a green background suggesting it is highlighted.

[2020-05-19 14:09] cjohnston1158 opened #480 "Right click context menu"
# Current behavior

Highlighting text and right clicking should bring up a menu like with other applications.

# Expected behavior

No menu is brought up.

# Steps to reproduce

1. Type some text
2. Highlight it
3. Right click

# Environment

Nothing was found in the developer tools except react-i18next:: i18n.languages were undefined or empty

## Desktop
- Boost Note.next version:
[code]

- OS ve

[2020-05-19 14:11] cjohnston1158 opened #481 "ENOENT: no such file or directory, open '/opt/Boost Note/resources/app-update.yml'"
# Current behavior
In syslog:

[code]
# Expected behavior

No error.

# Steps to reproduce

Happens on boot.

# Environment

## Desktop
- Boost Note.next version:
[code]
- OS version and name:
[code]

[2020-05-20 09:02] kfcobrien commented on #476
Working on 10.15.4 for me too but there is no way of moving (dragging) the window.... No title bar

[2020-05-21 03:29] hkunzhe opened #482 "Support packaging for homebrew (MacOS)"
# Current behavior

There is a [brew formular](https://formulae.brew.sh/cask/boostnote) for BoostNote but not for BoostNote.next.

# Expected behavior

Support packaging BoostNote.next for homebrew.

# Environment

MacOS Mojave.

[2020-05-21 08:27] complyue opened #483 ""Editor Indent Type" set to "Spaces" does not produce space when pressing Tab"
# Current behavior

In preferences, I set "Editor Ident Type" to "Spaces" , but when I key in Tab to increase indent of a line, tab char appears instead of spaces

# Expected behavior

When Tab keyed in, I expect spaces inserted in beginning of current line.

# Steps to reproduce

Key in Tab on a line.

# Environment

## Desktop/Web
- Boost Note.next version: 0.4.1
- OS version and name: macOS Moj

[2020-05-22 14:20] liuderchi commented on #461
@Rokt33r I found that download links for macOS desktop app are broken, will you also fix it?
- https://boostnote.io/#download
  1. .dmg: https://github.com/BoostIO/BoostNote.next/releases/latest/download/boost-note-mac.dmg
  2. .zip: https://github.com/BoostIO/BoostNote.next/releases/latest/download/boost-note-mac.zip

[2020-05-22 18:02] Flexo013 commented on #485
@arcturus140 Moved it.

@miochung7 Did you ever see the sync complete? Boost Note doesn't continuously sync to save on bandwidth and CPU usage. If you are logged in through GitHub and not seeing anything then I think your cloud files are gone. @Rokt33r might have some tricky way to get something back. I suggest you contact him through Slack (@arcturus140 linked it above).

[2020-05-22 18:06] Flexo013 commented on #476
@kfcobrien Could you provide some screenshots? And maybe what version you have installed?

[2020-05-22 18:09] Flexo013 commented on #480
Confirmed on Windows 10 as well. Having some context options here would be great.

This is an example from the Boostnote Legacy app:
![image](https://user-images.githubusercontent.com/4507015/82696855-2df84a80-9c68-11ea-9a72-35108bef9980.png)

[2020-05-22 18:19] Flexo013 commented on #472
Hmmm, somehow your Android is convinced you don't have anything selected.

This is what I got when trying to reproduce it:

<details>
    <summary>screenshot</summary>
    ![image](https://user-images.githubusercontent.com/4507015/82697409-2c7b5200-9c69-11ea-9098-bdac408b8f19.png)
  </details>

I hope that when these other selection bugs are fixed that this one will magically be fixed as well.

[2020-05-22 19:34] miochung7 commented on #485
I don't think it synced through Github as nothing appeared when I refreshed
a couple of times after it finished syncing...

On Fri, May 22, 2020 at 7:02 PM Flexo013 <notifications@github.com> wrote:

[2020-05-22 19:39] miochung7 commented on #485
Thank you - I'll try to contact him through Slack. Wish me luck! I saved a
lot of notes on there so hopefully there's some good news!

On Fri, May 22, 2020 at 7:02 PM Flexo013 <notifications@github.com> wrote:

[2020-05-23 01:38] limjh16 commented on #472
<details><summary>screen recordings
</summary>

![record1](https://user-images.githubusercontent.com/15180396/82718993-14431b80-9cd9-11ea-95eb-c7f4ebf2dc70.gif)
![recording_20200523_091754~2](https://user-images.githubusercontent.com/15180396/82718997-1ad19300-9cd9-11ea-99c8-bb718f461211.gif)

</details>

[2020-05-23 17:24] sysadt commented on #480
Maybe add some formatting options.

[2020-05-24 05:53] yaojiangc commented on #483
Same problem faced. Quite annoyed by it and first sub-nested list with tab indentation will not be recognized.

[2020-05-24 05:59] yaojiangc commented on #483
For Example:
---
[code]
That is supposed to look like:
---
### File Systems
- NTFS
	- Developed by Microsoft
	- Mainly uses by Windows
	- Linux Ready Only, Or Overwrite
	- Features like encryption, faster access speeds, security...

Turns out looking like:
---
### File Systems
- NTFS - Developed by Microsoft - Mainly uses by Windows - Linux Ready Only, Or Overwrite
	- Features like encryption, fas

[2020-05-24 14:48] Flexo013 commented on #483
Confirmed this behavior. The <kbd>Tab</kbd> key should insert whatever is defined as the indent character.

[2020-05-24 14:53] #485 closed

[2020-05-24 14:53] Flexo013 commented on #485
Good luck!

[2020-05-25 12:35] kfcobrien commented on #476
![Screenshot 2020-05-25 at 13 33 25](https://user-images.githubusercontent.com/14205119/82813205-8314a600-9e8c-11ea-8480-373848fdac7e.png)
![Screenshot 2020-05-25 at 13 33 45](https://user-images.githubusercontent.com/14205119/82813215-86a82d00-9e8c-11ea-850e-4a145eb2ef18.png)

[2020-05-25 12:36] kfcobrien commented on #476
I can resize fine but no way of dragging the window to reposition it

[2020-05-28 07:47] Flexo013 opened #488 "Can't delete empty line"
# Current behavior

Can't delete empty line on android.

# Expected behavior

Should be able to delete empty lines.

# Steps to reproduce

1. Create a note with multiple empty lines.
2. Make sure the cursor is placed at the start of a line.
3. Press backspace with the onscreen keyboard.

# Environment

## Mobile
- Boost Note app version: 0.4.1
- OS version and name: Android 9 (OxygenOS 9.0.6)

[2020-05-28 08:00] Flexo013 opened #489 "Automatic switching between preview and edit view"
In the legacy app there non-split view had the option to switch to the preview when you clicked outside of the editor. And when you clicked back onto the preview contents the view would switch back to the editor.

Maybe we could introduce a toggle switch to turn enable this behavior next to the left of the current three icons:
![image](https://user-images.githubusercontent.com/4507015/83114357-28b

[2020-05-28 11:34] WizardNo7 commented on #442
Hey @Rokt33r , good catch.

It was in fact when not specifiying the protocol, only gooogle.com or www.google.com that was the issue.

[2020-05-28 11:55] arcturus140 commented on #489
I don't like the behaviour of Boostnote in this respect. I think the right click should be reserved for context menus in the preview, like cut, copy, paste, etc. This is something I like to see improved in Boost Note.

Currently, I am using double right click to edit when blurred. But double click is usually used for text selections. Maybe using double left click, instead?

Firefox uses Ctrl + shi

[2020-05-28 18:33] matrixik commented on #255
Personally I started liking having git repository as storage backend. I don't make commits by hand, they are created by app every time I save. It's provide me with history for every change (just not really useful commit messages). https://stackedit.io/app have something like that, you can configure whole workspace to be Github repository (private in my case).

[2020-05-29 11:49] myOmikron commented on #244
Same here,
running Debian bullseye/sid.
I'm getting following error when executing the binary or the AppImage:

[code]
When I'm correcting the Sandbox permissions only the last line appears.

[2020-05-30 02:33] thosgood commented on #476
I'm having exactly the same problem as @kfcobrien , although it only started happening after the third or fourth time of opening the app, I think.

[2020-05-30 04:21] HSQCoollaughing opened #491 "Export entire folder or storage"
I would like to have batch export notes

[2020-05-31 09:03] Meiryo7743 opened #492 "Display incorrect kanji gryph when interface language is Japanese"
# Current behavior

App does not display correct kanji gryph when display language setting is Japanese, except editing area and markdown preview, which are able to change font family.

I don't know how this behavior expresses in English but in Japanese, it is called "中華フォント現象".

I think the font family seems to be prioritized Chinese over Japanese.

Here are screenshots:

<details>
  <summary>Clic

[2020-05-31 10:04] arcturus140 commented on #492
i had the same problem with Google Chrome. As a work around i set font priority system wide. it did not work with firefox, though.

[2020-05-31 14:10] marcin-piechaczek commented on #326
Works fine on macOS Catalina v10.15.5 - just go to Security & Privacy and click on "Open Anyway" on the general tab.

[2020-06-01 01:10] Rokt33r commented on #491
@HSQCoollaughing Could you describe more? How do you want to export multiple notes? There should be multiple options.

- Exporting notes in a folder
- Exporting notes with a tag
- Exporting selected notes(This should need lots of work because the current app doesn't support multiple select)

[2020-06-01 06:52] Rokt33r commented on #492
@Meiryo7743
Thanks for the reporting!

Could you tell me which font are you using in the expected screenshot? I think I should apply it when users select Japanese locale.

Also I think I should let users choose UI font.

[2020-06-01 15:39] Meiryo7743 commented on #492
The font that is used in the expected screenshots is Meiryo (メイリオ), one of pre-installed Japanese fonts on Windows Vista and later.  Also Source Han Sans (Noto Sans CJK) is better choice, but unfortunately it is not pre-installed.

Moreover, there is a need to consider Mac users though the same bug have been occured on macOS or not.

Considering these things, I suggest that the best order of Japan

[2020-06-01 16:58] DuderBattalion opened #494 "Cannot drag and move BoostNote desktop app (v0.5.0) on macOS Mojave"
# Current behavior
Cannot drag and move BoostNote desktop app (v0.5.0) on macOS Mojave. I can resize and full screen the app but cannot move it.

# Expected behavior
Should be able to move the desktop app.

# Environment
## Desktop/Web
- Boost Note.next version: 0.5.0
- OS version and name: macOS Mojave 10.14.6

[2020-06-02 02:24] Rokt33r commented on #494
It will be fixed in this week!

[2020-06-02 19:04] Cryo99 commented on #265
There might be another angle to this. When Preferences/Editor/Editor Indent Type is set to `spaces` it still inserts tabs. If it inserted spaces as it should, I believe that the lists would work.

Cheers.

[2020-06-02 20:13] Cryo99 commented on #389
I agree that we definitely need to be able to enter HTML tags into the Markdown and have them rendered correctly. Indeed, Markdown is [predicated on this](https://daringfireball.net/projects/markdown/syntax#html). Not being able to use tags in the Markdown to manage behaviour that isn't covered by it, such as font colouring, strikeththrough, etc., would be a major limitation.

[2020-06-04 01:02] Rokt33r commented on #314
Resolved in https://github.com/BoostIO/BoostNote.next/pull/495

[2020-06-04 01:02] #314 closed

[2020-06-04 02:05] thuhoa93 opened #496 "login fail in chrome"
# Current behavior

On Chrome [Open in browser ] button click -> verify code via gmail complete -> message below:

Unhandled Error: No repository for "User" was found. Looks like this entity is not registered in current "default" connection?
When back to [Boost Note] tab on chrome, the [loggin in...] display but  nothing happen:
![image](https://user-images.githubusercontent.com/10624466/83706525-

[2020-06-04 03:16] ZeroX-DG commented on #496
@thuhoa93 can you refresh the page and click login again but this time with the developer console open so we can see the error message? You can open developer console with the shortcut: `Ctrl + Shift + i` and switch to `console` tab on the developer tool. Copy the error from the console and post it here so we can analyze the error further.

[2020-06-04 06:11] #494 closed

[2020-06-05 08:03] Rokt33r commented on #492
Thanks for the answer. AFAIK, the problem happens in Windows only.

[2020-06-05 08:57] thuhoa93 commented on #496
@ZeroX-DG  thanks for your response
refresh the page not can not resolve problem.
close tab(close chrome) and reopen -> ok

[2020-06-05 08:57] #496 closed

[2020-06-05 09:29] mnmami opened #499 "Can't fetch cloud storage for v0.5.0 and Windows 10"
# Current behavior

I tried fetching my cloud storage in two of my laptops, but that is not working. I can see my cloud storages, but fetching isn't bringing anything.

# Expected behavior

I get my notes from the cloud to my Boostnote app.

# Steps to reproduce

Starting a fresh installation => Remote Storage => Login => Select the remote storage to download => Click "Fetch cloud storage".

# Env

[2020-06-05 16:42] derekantrican opened #505 "Import default notes folder from Boostnote Legacy"
The old version of Boostnote (before the major overhaul) stored notes in `%userprofile%\Boostnote`. I'm not sure where the new version stores them, but the new version should check that directory for notes upon installation and "upgrade them" (whether that's just copying them to the new directory or actually doing some sort of upgrade). It's frustrating to go from the old version to the new versio

[2020-06-06 01:42] iguoli commented on #476
+1. The app window can't be moved on MacOS 10.15.5.

[2020-06-06 07:23] Rokt33r commented on #343
This has been fixed in v0.5.0

[2020-06-06 07:23] #343 closed

[2020-06-06 07:24] Rokt33r commented on #330
It's been fixed in v0.5.0

[2020-06-06 07:24] #330 closed

[2020-06-06 07:27] Rokt33r commented on #435
Fixed by #478

[2020-06-06 07:27] #435 closed

[2020-06-06 10:23] dhjensen commented on #488
I have the same issue on a Nokia 8 device. Android 9

[2020-06-06 19:22] gdalsnes opened #502 "Sync process hangs, but doesn't actually sync"
Have 3 Boost Notes installs on 3 Windows pcs. On 1 of them Boost Notes regularly misbehave:
The sync icon rotates all the time. Trying to stop the sync does not help ("Stop syncing" button).
Adding a new note does not show up on the other 2 pc's (or vice verse), so it is obviously not synching even if claiming to be constantly synching.

I see this in console of the one misbehaving (but not in the

[2020-06-08 06:16] Rokt33r commented on #461
@liuderchi I'lll do soon!

[2020-06-08 09:55] mnmami commented on #499
I turned out that I needed to also click 'create storage' after clicking 'fetch cloud storage'. I expected that the letter will do all the tasks, i.e. to start already seeing the notes appearing to the left. I'd expect to receive a note that the 'Notes were successfully fetched' or something to help prepare for the next step. Please add such a message.

[2020-06-08 09:55] #499 closed

[2020-06-08 17:39] Flexo013 commented on #504
Original issue is about Boostnote Legacy. The occurrence reported by @jankratochvilcz is about the new Boost Note.next app.

[2020-06-08 20:26] nflagey opened #506 "Implement "admonition" markdown"
# Current behavior

In the "old" Boostnote, we could use "admonition" markdown tags (hint, decision, note, question ...) as indicated here:
https://github.com/TobseF/boostnote-markdown-cheatsheet

Those are not available in the new Boostnote.

# Expected behavior

It would be great to implement those in the new Boostnote too!

# Steps to reproduce

N/A

# Environment

## Desktop/Web
- Boost Note.n

[2020-06-08 22:05] ZeroX-DG commented on #506
Thanks for the request. We are discussing on it and will implement this soon:) Close as duplicate of https://github.com/BoostIO/BoostNote.next/issues/474

[2020-06-08 22:05] #506 closed

[2020-06-09 13:56] Meiryo7743 commented on #492
I probably figured out what makes kanji gryph incorrect displaying.

The bug occurs only when **system language on Windows** is not Japanese.

I verified as to whether or not that is true.

Here is the results:
<table>
    <thead>
        <tr>
            <th>Lang</th>
            <th>Japanese</th>
            <th>English</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SS<

[2020-06-10 11:14] raelb opened #507 "Improve contrast between elements in the note list"
![image](https://user-images.githubusercontent.com/13108198/84261398-fc162d80-ab1b-11ea-802b-33d95df8267c.png)

It makes it difficult to discern the note titles from other note elements (date, tag, snippet)

I suggest using slightly different shades or colors

In old boostnote, it is less of an issue since there is more space around the elements

[2020-06-11 05:10] shimotoriharuki opened #508 "Storage synchronization does not end"
# Current behavior

One of the storage cannot be synchronized.
Since this storage contains photos, I figured the cause was a lack of cloud storage space.

I paid $3 to increase the capacity to 2GB. But it still won't end up syncing.
It contains about 60 photos, but I don't think it's more than 2GB of space.

Is there any solution?
By the way, the subscription was properly active.

# Environment

#

[2020-06-11 22:45] gdalsnes commented on #502
"After restarting Boost Note it works again."
I always assumed it was syncing correctly after a restart since the spinner is not spinning constantly after a restart. After I read above comment (new notes that aren't syncing) I'm skeptical...possibly I have had data loss that I am not aware of yet....

[2020-06-12 11:52] ZeroX-DG commented on #342
Fixed in 0.5.0

[2020-06-12 11:52] #342 closed

[2020-06-12 11:56] #346 closed

[2020-06-12 23:51] SamsiFPV commented on #244
I've got the same problem, also running Debian 10 Buster. Boostnote.next version 0.6.1

[2020-06-13 12:05] Flexo013 commented on #508
Thanks for the report!

Duplicate of #502. We'll continue the issue solving over there.

[2020-06-13 12:05] #508 closed

[2020-06-15 05:41] Rokt33r commented on #416
@Flexo013 I'm going to close this issue after make this optional(Enabled by default though)

[2020-06-16 07:14] Ckbhatia commented on #219
@Flexo013 Please add the platform label, such as the android, web, etc. So, Interested developers can work accordingly.

[2020-06-16 20:59] Flexo013 commented on #219
@Ckbhatia This issue doesn't necessarily pertain a specific platform (since you can hook up keyboards to phones as well).

[2020-06-17 03:25] Ckbhatia commented on #219
@Flexo013 I know that. But, android developer isn't going to develop this feature for web app.

So, how do you manage that?

[2020-06-18 05:42] Erprincekumarojha commented on #206
You contact me I will try

[2020-06-18 17:14] amitjdave commented on #491
There should be some way to export notes either by folder, tag, or all notes at once to text and markdown format.

[2020-06-19 12:21] mnmami opened #509 "Move "Check for updates" menu item under Help"
Not an issue but a slight confusion in the user experience. Usually the "Check for updates" button is located under Help menu.

[2020-06-19 12:24] mnmami commented on #350
Also suggest to add "Preferences" to he menu, in addition to its button under the top-menu. I understand it'd be a duplicate, but usually users looks for Preferences in the menu first. Not a big deal to have a duplicate I guess, if that's make the UX a little more convenient.

[2020-06-25 14:11] rmRabbishFile opened #510 "admonition is not displayed properly"
# Current behavior

![image](https://user-images.githubusercontent.com/16009987/85735682-295b0200-b6fe-11ea-9c70-045e192d207b.png)

# Expected behavior

![image](https://user-images.githubusercontent.com/16009987/85735975-63c49f00-b6fe-11ea-918e-01fc578f6fe9.png)

## Desktop/Web
- Boost Note 0.6.1

[2020-06-25 17:18] arcturus140 commented on #510
duplicate of #474

[2020-06-25 17:59] #510 closed

[2020-06-26 21:47] hitenv79 commented on #476
The app does not open in Mac OS 10.15.5. It throws a security error.

“Boost Note” can’t be opened because Apple cannot check it for malicious software. I downloaded it from the main website today.

See attached screenshot.

[2020-06-27 03:59] Saloni399 opened #511 "Unable to access my notes in the cloud storage"
# Current behavior

The notes are stored in the cloud storage SQL Notes (id: 30635) and the account is linked with the email saloni.dangwal7@gmail.com

# Expected behavior

All the notes are text notes stored in SQL Notes (id: 30635) which should open when I click on fetch storage option under cloud storage by selecting the SQL Notes (id: 30635) storage but nothing happens. This is the behavior on

[2020-06-27 12:00] Flexo013 commented on #476
@hitenv79 Could you try posting the screenshot again? It's not linked in your previous message.

[2020-06-27 12:13] Flexo013 commented on #219
We have the labels set up such that if there is no specific platform tag present then the issue pertains to a general development.

[2020-06-27 12:23] Flexo013 commented on #509
Let's group this suggestion under #350

[2020-06-27 12:23] #509 closed

[2020-06-27 12:26] Flexo013 commented on #206
@Erprincekumarojha Feel free to pick up this issue and submit a PR for it. When your PR gets merged you will receive the funding for this issue!

[2020-06-27 18:39] ohhheyyyy commented on #476
@Flexo013 I trigger the same error when I attempt to open Boost Note on macOS Catalina Version 10.15.5. Screen shot below 👇

![boostNoteCantBeOpened](https://user-images.githubusercontent.com/5541812/85929574-f04c9a00-b883-11ea-808b-d88cc1cda451.png)

[2020-06-28 08:43] techbecca commented on #389
I found this issue by searching for why the folding block syntax isn't working properly. Will this issue solve that?

[2020-06-29 01:12] Flexo013 commented on #491
I'd recommend we initially set up exporting of a folder and a storage. Then later we can take care of exporting a single tag or exporting only selected notes.

[2020-06-29 11:25] ryokohbato opened #513 "Alignment of columns in tables doesn't work"
# Current behavior

![image](https://user-images.githubusercontent.com/67552983/85996372-a7414500-ba3f-11ea-8f92-4437de36ac70.png)

# Expected behavior

like this

![image](https://user-images.githubusercontent.com/67552983/85996423-b58f6100-ba3f-11ea-8a2c-307fa5b22463.png)

# Environment

## Desktop/Web
- Boost Note.next version: Boost Note 0.6.1
- OS version and name: Windows10 2004

[2020-06-30 04:29] Kawaguc opened #515 "Shortcut to insert current date/time"
According to https://github.com/BoostIO/Boostnote/wiki/Keyboard-Shortcuts ,
the old version of boostnote has a shortcut to insert current date/time.(ctrl + /, ctrl + shift + /)
Instead In the current version, ctrl + / seems to be a shortcut to surround lines by .
I want to use shortcut to insert current date/time in the new Boost Note and read refference to already implemented shortcuts.
(I have a

[2020-06-30 09:49] SmithMMTK opened #517 "Ctrl-S for Search is not working"
# Current behavior
When press Ctrl-S we expect to jump cursor into Search box, but in Windows version there do nothing.

# Expected behavior
When press Ctrl-S in Windows, it should jump the cursor into Search box

# Steps to reproduce
Just press Ctrl-S

# Environment

## Desktop/Web
- Boost Note.next version: Boost Note 0.6.1
- OS version and name: Windows 10

[2020-06-30 12:12] raelb opened #518 "Can't scroll in storage settings"
## Issue
I can't scroll storage settings, so I can't see bottom of settings

![image](https://user-images.githubusercontent.com/13108198/86124590-b4137680-badb-11ea-8cb4-3cb747942c8f.png)

## Desktop/Web
- Boost Note.next version: 0.7.0
- OS version and name: Windows 10
Windows Scaling: 150%

[2020-07-01 06:16] AkhilVinayakp commented on #244
Getting a trace trap  "/opt/Boost Note/boostnote.next" error in parrot linux 4.8

[2020-07-02 07:55] revive commented on #244
I got the same issue on Debian 10.4 with the latest deb package.

[2020-07-02 09:37] mnmami opened #519 "Protect a note with a password"
This is a feature request/wish. It would be really awesome if it was possible to protect access to a note (perhaps also folder). A simple password would do.

[2020-07-04 10:38] peoray commented on #518
@Rokt33r I assume this is a CSS issue? If so, I'll like to work on this but will require a bit of guidance :)

[2020-07-04 16:33] itrejomx opened #520 "Github Login on Desktop App"
# Current behavior
On the desktop app I only have option to sign in with email account. I used the same email I have on my github account, but I got an account does not exist error. So i signed up with the email.
Now I have an account on note.boostio.co which has some notes under my github login, and another account set up on my desktop app which is my email (the same email i use to login to githu

[2020-07-05 01:51] stevenwchien opened #540 "Resizing the window causes tags bar to pop out"
# Current behavior

See the GIF below:

![boostnote-issue](https://user-images.githubusercontent.com/23484970/86523745-eb1cbb80-be3e-11ea-8afe-14b7de04ab57.gif)

I have been noticing that the tags bar pops out when you resize the window. Not sure if other people are having this problem.

# Expected behavior

I would expect the tags bar to not open up when resizing the window.

# Steps to reproduce

[2020-07-05 06:17] davidbwaters opened #521 "Icon Padding UI"
I love the app but the round icon's size in MacOS is inconsistent with Apple's guidelines and looks out of place in the dock.  The slight padding is considered a best practice and would benefit other UIs also. I've made a revised version using the new icon:

[Boostnote.zip](https://github.com/BoostIO/BoostNote.next/files/4874504/Boostnote.zip)

[2020-07-06 15:23] wjrivera commented on #315
Is this feature request currently on the development pipeline?

[2020-07-06 18:15] Flexo013 commented on #315
@wjrivera Not specifically. It's planned, but nobody has picked up this request yet.

You can always 👍  this issue at the top, to help show how many people are interested. Additionally you can fund this issue on IssueHunt: https://issuehunt.io/r/BoostIO/BoostNote.next

[2020-07-06 20:32] lotdrops commented on #219
A fix on this would be awesome, it is my main pain point with Boostnote

[2020-07-06 20:40] lotdrops commented on #502
I can confirm the issue occurs on mac os x. I kill the app and reopen it, and it stops spinning (and I think it only syncs when it stops spinning)

[2020-07-07 07:32] triet-truong opened #523 "Add editor buttons"
It would be more convenient if Boost note has the below functions. All of them are inspired from Joplin:
- Hide/show storage button (left side bar).
- Hide/show notes button (right side of storage bar).
When we need to decrease the window width to have more space on the screen, two of the above mentioned bars can be hidden to make space for editor and preview section.
- Editor buttons (Bold, itali

[2020-07-07 08:33] TMB-HUB opened #539 "Add support for Flowchart and mermaid"
# Current behavior
It seems that charts and diagrams (plus some other elements) are not displayed correctly. See the screenshot below.

![image](https://user-images.githubusercontent.com/67274521/86748349-ae1e1800-c03c-11ea-9c15-31bed306b3af.png)

# Expected behavior
I guess they should be displayed correctly.

# Steps to reproduce
1. Download the cheatsheet from [here](https://github.com/TobseF/b

[2020-07-07 14:25] ZeroX-DG commented on #523
We already discussed about minimizing the side bar here https://github.com/BoostIO/BoostNote.next/issues/333

I think we are going to also implement hiding the nodes list soon and editor buttons are great suggestion.

[2020-07-07 14:26] ZeroX-DG commented on #521
@davidbwaters can you submit a PR for this instead of a zip file? It's easier to check your code and credit you if you submit a PR :+1:

[2020-07-07 16:37] Trieste96 commented on #523
Thank you very much for you feedback!

On Tue, Jul 7, 2020, 9:25 PM Nguyen Viet Hung <notifications@github.com>
wrote:

[2020-07-08 03:38] Trieste96 opened #525 "Notes in subfolder displayed in parent folder"
**Actual behavior**:
- Folder displays its items and also its sub-folder's items.
- I created 'Note of sub' in 'sub' folder. When I select 'folder' (parent of 'sub'), it displays its own notes ('note of folder') and its subfolder's ('note of sub'). If I delete the 'note of sub' here in 'folder', it's also deleted from 'sub' folder.

**Expected behavior**:
- Folder only displays its own items

Is i

[2020-07-08 09:30] mnmami commented on #350
In small screens, it'd be helpful to be able to close/fold the list of notes to the left side. This feature was available in the legacy app. Folders were given a color, so one could recognize and switch to the needed folder by color. This feature could be added as well, or just closing and opening the notes pane would be good.

[2020-07-09 03:27] Trieste96 opened #531 "Unexpected behavior when select all (Ctrl + A) on Preview section"
Expected behavior: Only the selected section is highlighted when selecting all (Ctrl + A).
Actual behavior: Sections with red rectangle are selected, as picture shown below.
OS: Ubuntu 20.04 LTS Focal
Package: .deb

![image](https://user-images.githubusercontent.com/19305944/86993347-fa4c9200-c1cd-11ea-8bf5-1e66895c0749.png)

[2020-07-09 07:50] ZeroX-DG commented on #531
I'll fix this right away.

[2020-07-09 08:20] KaitoYamashiro opened #533 "Can't create new cloud storage"
# Current behavior

Login, type storage name and click create storage button.

This error happened.
![rapture_20200709171555](https://user-images.githubusercontent.com/24599061/87015164-02c1be80-c208-11ea-9074-47d2abba8bfd.png)

# Expected behavior
I  expected to create cloud storage.

# Environment

## Desktop/Web
- Boost Note.next version: latest
- OS version and name:  Windows 10, mac os Catali

[2020-07-09 08:22] KaitoYamashiro commented on #533
Can't fetch cloud storage too.

[2020-07-09 15:19] KaitoYamashiro commented on #533
Only have so much time to fetch cloud storage.

[2020-07-09 15:19] #533 closed

[2020-07-10 01:37] arcturus140 commented on #533
why was this closed?

[2020-07-10 02:57] KaitoYamashiro commented on #533
@arcturus140
About 30 minutes after Fetch, I could make cloud storage.

So I closed this issue because it was my mistake.

[2020-07-10 05:15] samislam opened #535 "Feature request"
# Current behavior

# Expected behavior

# Steps to reproduce

1. Please add a way to hide the sidebars.

# Environment

## Desktop/Web
- Boost Note.next version:
- OS version and name:

## Mobile
- Boost Note app version:
- OS version and name:

[2020-07-10 05:20] ZeroX-DG commented on #535
Duplicated https://github.com/BoostIO/BoostNote.next/issues/523

[2020-07-10 05:20] #535 closed

[2020-07-10 12:24] puckchen opened #536 "It doesn't work with ctrl+v for picture, the legacy version is okay."
I think pasting picture instead of a drag is better.

[2020-07-10 12:25] nhchenfeng opened #537 "Pasting of tables"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/BoostIO/BoostNote-App/issues/537)

Can we support copy the table from excel? It well be awesome.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $50.00)

- [<img src='https://avatars3.githubusercontent.com/u/13612118?v=4' alt='boostio'

[2020-07-10 15:10] LauraWartschinski opened #538 "Renaming an old folder causes all notes inside to vanish"
# Current behavior

I tried to rename an old and full folder with many subfolders and notes inside. The subfolders were kept, but they are all empty now, and **all notes are gone**.

On my phone, where I turned off WLAN and mobile data to prevent a sync from happening, the notes are still there.

# Expected behavior

Rename a folder without loosing all data.

# Steps to reproduce

It doesn't happe

[2020-07-11 03:04] ZeroX-DG commented on #536
duplicate https://github.com/BoostIO/BoostNote.next/issues/468
this feature is still in progress at the moment: https://github.com/BoostIO/BoostNote.next/pull/486

[2020-07-11 03:04] #536 closed

[2020-07-11 08:17] puckchen commented on #468
when will the new version support? It's really needed！ @Rokt33r

[2020-07-11 12:50] Flexo013 commented on #468
@puckchen Leave a 👍 on the first post of this issue. That way it has a higher chance of being picked up by devs.

You can also fund the issue on IssueHunt: https://issuehunt.io/r/BoostIO/BoostNote.next/

[2020-07-11 13:03] Flexo013 commented on #538
@LauraWartschinski Did you perhaps insert a special character, like `#`, into the folder name? I can reproduce the notes not showing up when a special character is put into a folder name. To see the notes again, just change the name to only contain alphanumeric characters.

If you don't have any special characters in the folder name, could you give us the folder name? Then we try reproducing it wi

[2020-07-11 13:32] Flexo013 commented on #350
Those additions would indeed be great. They are addressed in separate issues: #333 and #334. Give those a 👍

After #333 is merged we can also add it to the `View` menu.

[2020-07-11 13:47] Flexo013 commented on #525
This is by design. To achieve your preferred method you can do the following:

![image](https://user-images.githubusercontent.com/4507015/87225435-4bef4b00-c38d-11ea-98c3-4d4b1a45c702.png)

Make a subfolder (in this case `@root`) and use that for the notes that were originally in the main folder. That way you only see the notes from the root folder while selecting that subfolder. Note that it does

[2020-07-11 13:47] #525 closed

[2020-07-11 13:54] Flexo013 commented on #523
Let's have this issue specifically for the editor buttons.

[2020-07-11 13:55] Flexo013 commented on #521
Please resubmit this as a PR.

[2020-07-11 13:57] Flexo013 commented on #521
@davidbwaters Could you also provide a screenshot of this inconsistency? Preferably before and after your change.

[2020-07-11 14:00] Flexo013 commented on #539
These are currently only supported by Boostnote Legacy and not by BoostNote.next.

[2020-07-11 14:02] Flexo013 commented on #539
See #371 for sequence diagrams.

[2020-07-11 14:08] Flexo013 commented on #219
@SannePetersNL @lotdrops Make sure to give a 👍 to issues you would like to see fixed or features you would like to see added. That will help with gauging how popular certain features are and what should be prioritized.

[2020-07-11 14:15] Flexo013 commented on #518
Regardless of scaling this issue pops up if you change the window size.

[2020-07-11 14:37] Flexo013 commented on #389
@techbecca I imagine it will.

[2020-07-11 15:22] arcturus140 commented on #538
the notes are still listed under 'All Notes'.

[2020-07-11 16:22] Komediruzecki commented on #518
I fixed this issue, maybe review needed, but in general it should work when changing window size, scaling the page (30%, 250% etc). PR is here: https://github.com/BoostIO/BoostNote.next/pull/524

[2020-07-12 01:30] davidbwaters commented on #521
Sorry, I GitHub won't let me upload SVG files unless they are zipped.  I can make a PR.  I was trying to figure out which icon Electron used to generate the desktop icon.

Here is a screenshot showing the original and resized versions:
<img width="281" alt="Screen Shot 2020-07-11 at 9 30 08 PM" src="https://user-images.githubusercontent.com/5247627/87236946-b8823e00-c3bd-11ea-9fb7-9f4b3e10a17d.png

[2020-07-12 01:41] davidbwaters commented on #521
Sorry, GitHub won't let me upload SVG's without zipping them first.  I'm open to making a PR.  I was trying to figure out which icon was used as the desktop icon of the Electron builds.  This would apply to iOS builds also.  Here is a screenshot of inconsistency compared to other round icons.
<img width="359" alt="Screen Shot 2020-07-11 at 8 14 51 PM" src="https://user-images.githubusercontent.com

[2020-07-14 03:48] Trieste96 opened #541 "Newline in Preview section"
New line doesn't appear in preview section.
As picture shown below, notice the line "create database ..." and "grant all ...".

![image](https://user-images.githubusercontent.com/19305944/87381512-1af65c80-c5bf-11ea-9347-5cce4e2b4ec8.png)

[2020-07-14 05:26] ZeroX-DG commented on #541
By default, everything you type in will be consider as markdown. Thus no newline will be preserved. However, if you want to keep the newlines, you can wrap the content inside a codeblock.

[code]

[2020-07-14 05:26] #541 closed

[2020-07-14 07:35] Trieste96 commented on #541
I tested a few online markdown editors like:
- https://dillinger.io/
- https://stackedit.io/app
- https://pandao.github.io/editor.md/en.html

And all of them preserve new line, even on this Github md editor. Can you check on that?

[2020-07-14 08:14] ZeroX-DG commented on #541
Well, I know what you are talking about. It's best to wrap the content in a codeblock. But if you prefer to keep the newline, you can go to setting and add this piece of code to the custom CSS:
[code]

[2020-07-14 09:32] Trieste96 commented on #541
Thank you very much for the help. I think the below piece of custom CSS code suits me most.
Hope it's good enough to be a default settings.
[code]

[2020-07-14 09:33] Rokt33r commented on #255
@chrisEsk @juanlopez4691 @AlJohri @matrixik File based storage is available in v0.7.0! Please check it! Also check this article to know what will come next! https://medium.com/boostnote/update-notes-v0-7-0-and-next-road-map-637af1f6d132

[2020-07-14 09:33] #255 closed

[2020-07-15 06:37] Flexo013 commented on #541
For users migrating from Boostnote Legacy to BoostNote.next:

The solution mentioned above by @Trieste96 will act just like the _'Render newlines in Markdown paragraphs as \<br\>'_ option from the old app.

![image](https://user-images.githubusercontent.com/4507015/87511896-6455b300-c676-11ea-9389-5103e1565b3f.png)

[2020-07-15 11:34] metehan opened #542 "Syntax highlighter doesn't higlight some languages"
# Current behavior

Boostnote doesn't highlight languages elixir and clojure. It was highlighing on legacy version.

[code]

# Environment

## Desktop/Web
- Boost Note.next version: Couldn't find since there is no "about" menu item. But last version.
- OS version and name:  Windows 10

[2020-07-15 17:46] Flexo013 commented on #542
Note that there are no snippet notes in the new version, so you won't be able to set it on a note wide level. You can use regular markdown labeling of code blocks, like this:
[code]

[2020-07-15 17:46] #542 closed

[2020-07-15 21:20] JayBeavers opened #543 "Slack invite link in About page is expired"
Boost Windows 0.7.0

[2020-07-15 22:05] Stanleyli1984 opened #544 "Help!!! Lost all notes after replacing the app on Mac OS"
Hi,

I have updated the application by reinstalling it on Mac OS. When OSX was asking me do I want to "keep both" or "replace" I chose replace. Then I opened the application and found all my notes were lost.

This new version seems to have very few options that I can try on and I have no clue how to get my notes back. This is not the case for the old application where the notes will always be kept

[2020-07-16 03:48] Rokt33r commented on #544
I'm not sure this is a bug. Can you join our slack and send a DM? Then I can directly help you!

[2020-07-18 08:22] koushikmohan1996 commented on #476
@ohhheyyyy I had the same issue. You can override this here https://support.apple.com/en-us/HT202491

[2020-07-18 09:28] joacorapela opened #550 "Not rendering diagrams Ubuntu 18.04"
# Current behavior
Not rendering a simple example sequence diagram

# Expected behavior
Display the example sequence diagram

# Steps to reproduce
Open a new note
Insert the following code to create a sequence diagram:
[code]

# Environment

- Boostnote version: 0.4.1
- OS version and name: Unbuntu18.0.4
I tried both boostnote.next in Ubuntu and the web-browser interface, and the sequence diagram

[2020-07-19 10:56] kishans12 opened #547 "Find Text in note Ctrl+f or Ctrl+s not working"
# Current behavior

Ctrl+s or ctrl+f not working to search text in a note

# Expected behavior

Expected behavior is to search text in a note

# Steps to reproduce

1. Open boost note
2. ctrl+s
3. ctrl+f

# Environment

## Desktop/Web
- Boost Note.next version: note able to find. I am working on latest one
- Windows 10

## Mobile
- Boost Note app version:
- OS version and name:

[2020-07-19 12:41] EnderDragonneau commented on #547
Duplicate of #517

[2020-07-20 19:26] Flexo013 commented on #550
You are using BoostNote.next, which is a different app from Boostnote Legacy. Currently sequence diagrams are not supported by BoostNote.next. However, they are a planned feature: #371

[2020-07-20 19:26] #550 closed

[2020-07-20 19:41] #547 closed

[2020-07-20 19:54] Flexo013 commented on #543
Confirmed.

I will get this updated soon!

[2020-07-21 17:08] #543 closed

[2020-07-21 17:10] #531 closed

[2020-07-21 18:08] Rokt33r commented on #244
Thanks for the reporting. I'll check again in this week.

[2020-07-22 12:50] huzibizi opened #557 "hub.boostio.co redirects to relative path instead of domain name"
# Current behavior

File > For Team within the app redirects to a website stating 'Redirect to boosthub.io in 5 seconds.'

The link labelled 'boosthub.io' links to a relative path instead of the domain name.

fix: find & replace: href="boosthub.io" with href="https://boosthub.io"

# Expected behavior

The link labelled 'boosthub.io' should link to the domain name https://boosthub.io in case of the

[2020-07-22 16:56] huzibizi opened #552 "Add tooltip text to buttons"
# Current behavior

when hovering over some buttons, eg. the preferences button, there is a tooltip text shown, which is great.

![boostnote1b](https://user-images.githubusercontent.com/67965345/88189523-0fdfa400-cc31-11ea-9a7a-e713da707f27.png)

However for most other buttons, there is no tooltip text displayed to describe them. The most annoying button with no tooltip text is probably the Trash

[2020-07-22 16:58] huzibizi opened #553 "Allow easy embedding of images"
# Current behavior

images cannot currently be easily embedded into notes, at least not without using HTML and knowing the exact path of your image. this can be changed.

# Expected behavior

Have a button that allows users to select a local image (or type in an online URL), and embed that image into their notes.

The app would prompt the user and ask them whether they want to link the image from

[2020-07-22 16:59] huzibizi opened #554 "Add more info to 'Configure Storage' page"
# Current behavior

Right now, there doesn't seem to be any way to view the path where a File system storage is located.

I have also noticed some additional issues / improvements, which I've detailed in the second attached image.

[Image 1](https://i.imgur.com/ka2sCOB.png)

[Image 2 (please read the annotations!)](https://i.imgur.com/3qF9XVy.png)

# Expected behavior

Path should be shown in the

[2020-07-22 17:00] huzibizi opened #555 "[minor] hub.boostio.co redirects to relative path instead of domain name"
# Current behavior

File > For Team within the app redirects to a website stating 'Redirect to boosthub.io in 5 seconds.'

The link labelled 'boosthub.io' links to a relative path instead of the domain name.

fix: find & replace: href="boosthub.io" with href="https://boosthub.io"

# Expected behavior

The link labelled 'boosthub.io' should link to the domain name https://boosthub.io in case of the

[2020-07-22 17:01] huzibizi commented on #553
Comment taken from [#236 here](https://github.com/BoostIO/Boostnote/issues/236) :

[2020-07-22 17:07] huzibizi opened #556 "[Question] What is the difference between BoostIO/Boostnote and BoostIO/Boostnote.next on Github?"
I can't really tell the difference between these two. Could someone please explain the difference to me? Apologies if its dumb question.

I'm using the windows app, and the latest version seems to match up with boostnote.next, but the description matches more up with boostnote... im curious what the difference between 'boostnote' and 'boostnote.next' on github is?

Is boostnote meant to be the ori

[2020-07-22 17:11] huzibizi commented on #553
related to #523

[2020-07-22 17:18] huzibizi commented on #519
it would be even better if it could be encrypted with the password, with a good strong encryption like AES. it would make the files hard/impossible to recover if you forget the password - but it would be great having it available as an option.

**Option 1) Unsecured

Option 2) Secured with password only

Option 3) Secured with password and encryption**

Maybe something like that. (for now you can

[2020-07-22 17:29] huzibizi commented on #540
same thing happens for me on win10pro x64, no tags are added so a text box with 'Tag Name...' in it just pops up instead.

does not disappear when you let go of the cursor after dragging, but does disappear if you minimise the window and then reopen it again (or click into the window ofc)

ps. i'm curious what the side panel on the right is lol, how did you get that there? :p

[2020-07-22 17:41] stevenwchien commented on #540
Yup, right side panel is the developer tools/console tab. On Mac, you can go into View->Toggle Developer Tools, or click `option+cmd+I`. I'm not that sure how to open it in Windows

[2020-07-22 18:11] huzibizi commented on #540
Ah yeah, the same option is here on Windows and opens developer tools. Thanks! I didn't know that even existed

[2020-07-24 22:05] #555 closed

[2020-07-25 21:42] cseyda commented on #556
maybe this helps
https://medium.com/boostnote/boost-note-roadmap-2020-9f06a642f5f1

[2020-07-26 07:59] #518 closed

[2020-07-26 12:44] #389 closed

[2020-07-26 14:44] Rokt33r commented on #513
Fixed by #514 and shipped in v0.8.0

[2020-07-26 14:44] #513 closed

[2020-07-26 23:25] Kompiler opened #562 "Display goes blank and and an error is recorded when clicking on certain notes."
# Current behavior

Just upgraded to 0.8.0 and clicking on certain notes causes the entire application to go blank when in preview or render mode.

When the application goes blank, the following errors are recorded in developer tools:

[code]

and

[code]

This is repeatable 100% of the time for these notes.

**Note*** When viewing in *editor/markdown* only mode (the <> icon view), these notes wor

[2020-07-26 23:52] TimeBomb commented on #562
I'm also seeing this, the line of code appears to be
[code]
`props` looks like `{children: [""]}`.

For what it's worth, I appear unable to use the app entirely due to this error.

[2020-07-27 01:10] yupengkong commented on #562
same issue encountered. CANNOT switch back to the code. The whole APP is unable to use. Please give me a tip to fix it. Thanks!

[2020-07-27 02:06] Rokt33r commented on #562
I'll deploy the fix ASAP. Sorry for making the propblem.

[2020-07-27 02:26] Rokt33r commented on #562
The fix will be deployed in 20 mins

[2020-07-27 02:30] Rokt33r commented on #557
Fixed https://github.com/BoostIO/BoostNote.next/commit/1d7e05709e4333a8057cd1bc4046349e5103b7e9

[2020-07-27 02:30] #557 closed

[2020-07-27 02:32] Rokt33r commented on #556
BoostNote.next(https://github.com/BoostIO/BoostNote.next/) will be a new BoostNote app. So it will replace the legacy app(https://github.com/BoostIO/BoostNote/ ) in this year.

[2020-07-27 02:32] #556 closed

[2020-07-27 02:33] Rokt33r commented on #554
Thanks for the suggestion!

[2020-07-27 02:49] Rokt33r commented on #562
@Kompiler @TimeBomb @yupengkong
Fixed in v0.8.2. Please download it from here https://github.com/BoostIO/BoostNote.next/releases/tag/v0.8.2

[2020-07-27 02:49] #562 closed

[2020-07-27 02:54] Rokt33r commented on #562
Sorry for the problem. I'll make sure this kind of errors never happen again.

[2020-07-27 05:08] Rokt33r commented on #544
Close this due to lack of response.

[2020-07-27 05:08] #544 closed

[2020-07-27 05:10] Rokt33r commented on #552
Will be implemented in v0.9.0! Thanks for submitting this issue.

[2020-07-27 05:24] TimeBomb opened #563 "[Feature Request] Add new hotkey to open "Add tag" UI when editing a note"
# Current behavior
When I am creating a note, I have to manually click the plus button above the title to add a tag.

# Preferred behavior
When I am creating a note, being able to press something like `[Ctrl/Cmd]+[Alt]+[T]` to open the UI to add tags would be great. Then one could navigate adding and writing a note with just the keyboard.

[2020-07-27 05:45] TimeBomb opened #564 "Autocompletion when adding tags to notes"
# Current behavior
Scenario:
1) I have one existing note with the "Meetings" tag.
2) I create a new note
3) I go to add a tag to this new note
4) I fully type out "Meetings" in the tag UI
5) I press enter and add the existing "Meetings" tag to my note

# Preferred behavior
Scenario:
1) I have one existing note with the "Meetings" tag.
2) I create a new note
3) I go to add a tag to this new note
4)

[2020-07-27 08:41] shota1207 opened #565 "Import probrem"
# Current behavior
cannot access to import section.

this message has shown.

[
![無題](https://user-images.githubusercontent.com/68843968/88521594-122a6f80-d030-11ea-886b-3ad42c3a6023.png)
](url)

# Environment

## Desktop/Web
- Boost Note.next version: <Boost Note 0.8.2>
- OS version and name: < Windows 10 >

[2020-07-28 05:29] Rokt33r commented on #468
Should be easy to implement. I'll try to ship it in v0.9.0

[2020-07-28 07:42] Rokt33r commented on #565
Sorry, we are still working on it. I just forgot to update the date in the section. It will be implemented in next week.

[2020-07-28 07:47] Rokt33r commented on #265
Apparently, the issue in remarkjs has been fixed. So I'll try to fix this in v0.9.0.

[2020-07-28 08:54] Rokt33r commented on #502
I'll start investigation.

@Konnor5092 We will provide bulk exporting and also converting cloud storage to filesystem based storage(every note will be saved as a file) soon. Could you tell me which character is causing the problem?

[2020-07-28 11:29] shota1207 commented on #565
Thanks for your support!
I'll wait for that update!

[2020-07-29 03:44] Rokt33r opened #566 "Tab indentation behavior for nested list item"
# Current behavior

Insert tab after `- `

Before inserting tab(`|` presents cursor position)
[code]

After inserting tab
[code]

# Expected behavior

Insert tab before `- `

Before inserting tab
[code]

After inserting tab
[code]

[2020-07-29 17:32] Rokt33r opened #567 "Run code snippet"
Original thread: https://www.reddit.com/r/Boostnote/comments/hvp04e/can_you_run_script_from_boostnote/

It would be nice to provide some way to run code in code fences. It should be easy to run it from electron.(But dangerous) Please share your thoughts. If you want to have this feature, please react with 👍

[2020-07-29 18:58] TimeBomb opened #568 "Unable to login to Boost Note Cloud on Mac OS"
# Current behavior

Upon trying to login to Cloud storage, it brings me to a URL that says `Unhandled Error: No repository for "AccessTokenRequest" was found. Looks like this entity is not registered in current "default" connection?`.

The URL looks something like
https://note.boostio.co/api/login/external?state=redacted-hash-code&requestId=12345

# Expected behavior

I would expect to be able to

[2020-07-29 20:54] TimeBomb commented on #568
I just tried again after a couple hours and was able to login. Clicking login brought me to the login page, where I logged in successfully from my email address. Odd that the first problem happened, but will close this issue for now since there isn't any active problem anymore.

[2020-07-30 06:37] Rokt33r commented on #564
Thanks for the suggestion!

[2020-07-30 17:07] shirakiya commented on #482
I wish it too 👍
Otherwise, I continue to use not BoostNote.next but BoostNote because all apps in my Mac are installed by homebrew-bundle.

[2020-07-31 09:03] mnmami opened #570 "Highlight search results in text editor"
I searched but couldn't find an exact same issue. I think it is essential that search results inside the text editor are highlighted. Otherwise, in large notes, the search functionality is almost unusable.

[2020-07-31 15:50] meinenec commented on #315
Running Boost Note 8.2 on macOS 10.14.6

The copy button is now there (from #560m I believe) but clicking it doesn't actually copy to my clipboard.

Either way I'm excited to see progress.

[2020-07-31 17:02] noahjgreen295 commented on #326
Workaround does not work for me either - app does not appear in General tab of Security dialog. Am on Catalina v.10.15.6.  Boost installer 0.8.2.

[2020-08-01 08:08] anton-kanopkin opened #571 "[improvement request] Ability to sort storages by drag and drop"
It would be great if there was an ability to drag and drop storages to sort them manually.

Probably this feature is connected with this existed one:
https://github.com/BoostIO/BoostNote.next/issues/349

[2020-08-01 15:57] orval commented on #517
I'm on Mac using version 0.8.2. Command+S only puts the cursor in the search box if the last thing I clicked on was one of the notes in the notes list. If I'm editing a note it does nothing.

Command+F does nothing anywhere.

[2020-08-02 04:57] TimeBomb commented on #567
This was actually my #1 feature when looking at all the note taking apps out there, and I couldn't find it.

Huge supporter of the idea. I use Google Chrome Dev Tools a lot every day as a simple sandbox for testing javascript snippets.

I'm not sure if sandboxing code is feasible or terribly necessary, but for reference, one of the few potentially appropriate and updated sandboxes I found was http

[2020-08-02 10:28] Flexo013 commented on #517
I suspect that the code mirror editor we use has some keybind on Ctrl+S that interferes with this functionality.

[2020-08-02 10:35] Flexo013 commented on #571
Love this suggestion!

#349 introduces rearranging of folders. I'm not entirely certain that this will also instantly work for storages.

[2020-08-02 11:00] Flexo013 commented on #568
Thanks for reporting it anyways!

[2020-08-02 11:00] #568 closed

[2020-08-02 11:03] #565 closed

[2020-08-04 09:32] #265 closed

[2020-08-06 05:46] peoray opened #575 "Rearrange storage folders and sub-folders using Drag and Drop"
# Current behaviour
It would be great if there was an ability to drag and drop storages folders and sub-folders to sort them manually.

Currently, you can sort only the notes by dragging and dropping them into the folder/sub-folder you want. It'd be great to have something similar for the folders and sub-folders as well.

Probably this feature is connected with this existing PR that has been open

[2020-08-06 07:36] itspooya opened #576 "AsciiDoc support"
If you could also support asciidoc it would be so good, problems of current markdown are annoying sometimes like
1. Rendering lists problem
2. source code problems and etc...

[2020-08-07 09:33] Viskovitz opened #578 "Windows installation stops at 30%"
# Current behavior

Windows installation stops at 30% aprox and does not continue.

# Expected behavior

A finished install progress and the progress bar reaching 100%.

# Steps to reproduce

1. Install from boost-note-win.exe on Windows 10.

# Environment

- Boostnote version: 0.8.2
- OS version and name: Windows 10

[2020-08-07 19:23] Ahmed-E-86 commented on #505
Any news about this feature?

[2020-08-08 10:09] Viskovitz opened #577 "Windows installation stops at 30%"
# Current behavior

Windows installation stops at 30% aprox and does not continue.

# Expected behavior

A finished install progress and the progress bar reaching 100%.

# Steps to reproduce

1. Install from boost-note-win.exe on Windows 10.

# Environment

## Desktop/Web
- Boostnote version: 0.8.2
- OS version and name: Windows 10

[2020-08-09 14:29] Flexo013 commented on #578
(Transferred this issue to the new BoostNote.next repo)

Could you try running the installer with administrator priviliges?

[2020-08-09 14:36] Viskovitz commented on #578
I just tried but with the same behavior.

[2020-08-09 15:06] Flexo013 commented on #578
Do you have any previous installations of BoostNote.next?

As for requirements, the application should get write permissions to your AppData folder, but admin privileges should take care of that.

[2020-08-09 15:09] Flexo013 commented on #575
Thanks for the suggestion!

This a duplicate of #349.

[2020-08-09 15:09] #575 closed

[2020-08-09 15:16] Viskovitz commented on #578
No, I don't have any previous installation.

[2020-08-09 16:03] Flexo013 commented on #576
I don't think this is something that will become part of Boost Note. It is designed as a Markdown application, not AsciiDoc, which is it's own entire thing. If you want a full AsciiDoc editor I recommend looking for a different application. Another option would be to start on implementing it yourself and submit a PR.

The rendering issue of lists is fixed in the next release. And as for the source

[2020-08-09 16:19] Flexo013 commented on #505
This is feature is planned within the next month.

[2020-08-09 16:22] Flexo013 commented on #577
Continued in #578

[2020-08-09 16:22] #577 closed

[2020-08-09 17:19] Flexo013 commented on #578
Hmmm, starting to run out of ideas. Maybe try downloading the installer again, or using the installer on a different Windows machine?

[2020-08-10 14:26] whophil opened #579 "GitHub Oauth returning 500 "Internal Server Error" when authenticating"
# Current behavior
When I try to create a new cloud storage (via the Boostnote Web App), it takes me to the GitHub Oauth login screen. After providing my username and password, it brings me back to a screen that just says "Internal Server Error." It works when I try to log in to a different user GitHub account - there just seems to be a problem with authenticating one specific account. I have trie

[2020-08-10 22:15] RatanShreshtha opened #580 "Tag's color does not changes on changing application theme."
# Current behaviour
Colour of tags created does not changes in any other application theme tag's colour is same as that of dark theme.

![Screenshot from 2020-08-11   @#03-33-07](https://user-images.githubusercontent.com/10801618/89836175-d4772c00-db83-11ea-9790-a0bdd5d093ed.png)

# Expected behavior
Colour of tags should change based on the application theme.

# Steps to reproduce
1. Create tags

[2020-08-10 23:33] Rokt33r commented on #579
I'll investigate and try to fix this issue today.

[2020-08-10 23:34] Rokt33r commented on #580
Thanks for the reporting! I'll fix this in v0.9.0

[2020-08-11 04:18] arcturus140 commented on #576
I doubt a PR should be accepted at any times. That's not really an option.

[2020-08-11 04:20] arcturus140 commented on #578
Temporarily disable your firewall before running the installer

[2020-08-11 06:17] Viskovitz commented on #578
With the firewall disabled the same thing still happens, but if I install it on another machine it works perfectly...

[2020-08-11 22:27] sisoe24 opened #581 "Window stuck in Loading data"
# Current behavior

App _window_ stuck in _Loading data..._ screen.
Reloading/Force Reloading, quitting the app or rebooting the computer does not solve it.
The options work fine, I can check for updates and so on.

<img width="571" alt="Screen Shot 2020-08-11 at 6 22 24 PM" src="https://user-images.githubusercontent.com/28490646/89954756-aafbe600-dbff-11ea-9024-76dab8a280fe.png">

# Steps to repr

[2020-08-12 01:17] JohnVidler commented on #581
Seeing the same behavior on Windows 10, Boostnote 0.8.2.

Are you also getting this error in the console (via view -> toggle developer tools):

[code]
(slightly redacted install path, but otherwise untouched)

[2020-08-12 07:10] danielrinconr opened #582 "Catch the comand Ctrl+S on Web app"
# Current behavior

The comand Ctrl+S is one the most popular comand to Save documents. Some of us are used to using this command frequently to save our changes in any IDE.

# Expected behavior

Please catch this comand key and override the default 'Save as web page' of the browser.

# Steps to reproduce

1. On the web app, open a note.
2. Press Ctrl + S. The defaul browser save as html will be op

[2020-08-13 08:02] RatanShreshtha commented on #580
Thanks @Rokt33r

[2020-08-13 23:39] Rokt33r commented on #581
@sisoe24 Can open dev tools and share the error message to here like https://github.com/BoostIO/BoostNote.next/issues/581#issuecomment-672426067?

[2020-08-13 23:41] Rokt33r commented on #581
@JohnVidler I think you've touched storage data from outside of the app. `boostnote.json` file In your storage folder should have `foldreMap` directory.

[2020-08-13 23:59] #468 closed

[2020-08-14 00:00] sisoe24 commented on #581
yes. same type of message
[code]

<img width="539" alt="Screen Shot 2020-08-13 at 7 48 01 PM" src="https://user-images.githubusercontent.com/28490646/90197957-47f48580-dd9e-11ea-8313-57d9765c4af4.png">

I also tried to launch it from the terminal and once I click `bundle.js:1392` it outputs this
[code]

[2020-08-14 00:50] Rokt33r opened #585 "Copy button in code fences doesn't work on macOS 10.14.6"
Running Boost Note 8.2 on macOS 10.14.6

The copy button is now there (from #560 I believe) but clicking it doesn't actually copy to my clipboard.

Either way I'm excited to see progress.

_Originally posted by @meinenec in https://github.com/BoostIO/BoostNote.next/issues/315#issuecomment-667193259_

[2020-08-14 00:51] Rokt33r commented on #585
@meinenec I cannot reproduce the problem in my machine. Could you open dev tool and check any error logs when you click the copy button?

[2020-08-14 00:51] #315 closed

[2020-08-14 00:52] Rokt33r commented on #315
Closed. The feature is already implemented. And the bug(https://github.com/BoostIO/BoostNote.next/issues/315#issuecomment-667193259) will be handled in https://github.com/BoostIO/BoostNote.next/issues/585

[2020-08-14 06:59] Rokt33r commented on #579
This should be fixed by now. The problem was caused by using empty string for github name.

[2020-08-14 06:59] #579 closed

[2020-08-14 21:39] sisoe24 commented on #581
It kind of happens on Linux (Kubuntu 20.04) as well, although it doesn't get stuck and keeps working fine. If I delete all of the Boostnote related folder/files inside, then it works.
Same for macOS; If I delete all of the Boostnote related contents, I can use the app again.

![Screenshot_20200814_165455](https://user-images.githubusercontent.com/28490646/90294694-0b379580-de55-11ea-961c-b95f099dd

[2020-08-14 22:23] sisoe24 commented on #581
OK I believe I found what was the problem.

I've installed Boostnote with `chocolatey` on Windows and only now I've realize that the Boostnote app is an older version (as at first glance I thought was just a different OS version).

So after I deleted the Boostnote content folder and everything worked again, I've created again a storage and got the same problem. Removed older Boostnote and installe

[2020-08-15 15:41] sisoe24 commented on #585
didn't want to open a new issue but currently the copy button doesn't work on any platform unless type the code is in triple backtick quotes with a language name.

<img width="819" alt="Screen Shot 2020-08-15 at 11 32 50 AM" src="https://user-images.githubusercontent.com/28490646/90315724-ac712b00-deeb-11ea-9e89-577a711fce0e.png">

Boostnote 0.8.2
Platform: macOS 10.14.06, Kubuntu 20.04, Windows 1

[2020-08-16 06:49] pannous opened #586 "Add Wiki style links"
Please support links of the form `[[test]]` to act just as `[test](test)`

[2020-08-16 06:51] pannous opened #587 "Create notes with a click"
Please make it so that when clicking a link `[[test]]` or `[test](test)` a new note will be created (or opened if it already exists)

[2020-08-17 00:43] SherlockGy opened #588 "About the Chinese description of the homepage"
version：
Boost Note 0.8.2 Windows

![image](https://user-images.githubusercontent.com/29522658/90347850-57592480-e065-11ea-91c2-79de3742b37d.png)
The Chinese should be this：
“在Windows系统上” and “在MacOS系统上”.

In Chinese,'on ...' should be translated as "在...上" instead of "上..." .

[2020-08-17 18:41] Flexo013 commented on #587
There would first need to be a change into how notes are linked, as the links currently are based on internal reference, which doesn't exist if there is no note yet.

[2020-08-17 18:57] Flexo013 commented on #578
@Viskovitz Could you try looking into differences between the systems that could cause this malfunction? Maybe some anti virus?

[2020-08-17 21:49] arcturus140 commented on #578
also, you might have corrupted files on your machine from a failed installation that compromised future installations. Delete all folders named boostnote or similar in %appdata%.

[2020-08-18 09:41] Viskovitz commented on #578
@arcturus140 I already did it, but it's still the same.

@Flexo013 aparently there are no differences between both OS: Windows 10 home, with same anti virus and same firewall setup.

I also tried to stop firewall and install it, but the installation process was stopped at the same point.

[2020-08-18 22:49] max-arias commented on #323
Hey, Im gonna take a crack at this. Any pointers appreciated.

[2020-08-19 02:51] xfq opened #589 "Chinese characters displayed as tofu"
# Current behavior

First, thank you for working on Boost Note!

I used it for the first time today and encountered some issues: some Chinese characters can be displayed normally in the editor, but the rendering is "tofu" (i.e., font fallback box glyph). The four characters after `# ` are 管理仓库 (all of them are common Simplified Chinese characters).

<img width="1196" alt="tofu" src="https://user-i

[2020-08-19 09:48] Code-5 commented on #581
Hi, I have the same problem on Windows 10.  On startup Boost note freezes and says loading data.   When I remove the source files from the folder it starts okay.  When I copy the sources files back to folder, the same problem happens again.  I tried to update but it tells me you're using the latest version.  I uninstalled and reinstalled but get the same thing.  What should I do? Any advice?

[2020-08-19 09:54] skl opened #590 "Download links broken if GA blocked"
The download links on the homepage do nothing when clicked if Google Analytics is blocked. Nothing shown in console either.

However if links are right-clicked and opened in a new tab then the download works fine.

I suspect it may be to do with the "queueNavigateToGA" function returning early but not sure.

I run Pi-hole on my network which handles the blocking.

[2020-08-19 23:34] TimeBomb commented on #502
I'm also seeing this between my Windows and Mac machines. My Mac OS version is always stuck syncing.
My Windows verison, when attempting to sync, tries for a couple seconds then errors out. The errors in the console are:

1. "Failed to load resource: net::ERR_NETWORK_IO_SUSPENDED" @ api/...torages/40705/db:1
2. "n" @ createStore.ts:237
3. Failed to load resource: net:ERR_NETWORK_CHANGED @ api/...t

[2020-08-21 02:40] b-rhodes commented on #64
@Rokt33r is it implemented in the app? As far as I can see there's only two editor modes.
The option to have my note appear permanently as a preview would be helpful as when I "finished" a note, it could be shown as just the preview.

[2020-08-23 04:45] Trieste96 opened #593 "Unable to fetch cloud storage on browser app"
Nothing happened when I clicked "Fetch cloud storage" button on browser app.
How can I check if my note has been synced to a cloud storage or not?
![image](https://user-images.githubusercontent.com/19305944/90971015-e8cd0880-e535-11ea-8daf-e31e4d618c0c.png)

[2020-08-23 12:42] quadransmuralis opened #594 "Can't change location of storage folder"
Once Boostnote is installed on my Pinebook Pro using Manjaro KDE, the storage folder is automatically placed in the home folder by the installation process.

I need to move it to a cloud sync folder, but it is simply impossible to move.

Thx for any tips.

[2020-08-24 13:13] myicq opened #596 "Shortcut for "code fence" - or custom strings (request)"
# Current behavior

In Markdown, the signs to use for "code fence" is ```, which works great for enUS keyboards.

# Expected behavior

on certain  non-english keyboards, the \` character is a dead key, used to type other accented letters. On my daDK keyboard, I have to type Shift´ followed by space. That is 3 keyboard actions for each `.
It would be great to have a shortcut to type this code fence

[2020-08-24 13:35] myicq commented on #474
This type of markdown is one of the reasons I started using Boostnote. Sad to see that this markup, along with others, has now gone. Kind of reminds me of Skype: newer, better, smarter (but all good features gone).  Hope for the best to come.

[2020-08-24 18:32] meinenec commented on #585
@Rokt33r No new items get logged to the console when I click copy, but on launch I see two items.

A warning:
[code]

and an error:
[code]

@sisoe24 Good catch. I tested and found the same results. when I add the language to the triple backticks, it works. The other two still do not copy.

[2020-08-25 07:25] hansnn commented on #502
A quick fix that worked for me is to click `View -> Reload (CTRL + R)`. After I did that all the notes on my other machine appeared on my current machine (both linux), though I'm not sure if it was an "overwrite" or a "sync".

[2020-08-25 14:27] #588 closed

[2020-08-25 15:05] solariz opened #598 "v0.9.0 Import from Legacy not Working"
# Current behavior

- Installed BoostNote.Next v0.9.0
- Created a new file based storage.
- Tried to import my old BoostNote Legacy
- Error:  "pathname is invalid, got `/imported/WoW:C`"

![screenshot_20200825-170312](https://user-images.githubusercontent.com/4168339/91191314-ea90fa80-e6f4-11ea-8c48-2670a940a82f.png)

# Environment

## Desktop
- Boost Note.next version: 0.9.0
- OS version and name

[2020-08-26 22:30] Ahmed-E-86 commented on #598
I have the same issue, but I got this error instead:

`Cannot read property 'map' of undefined`

-  Boost Note.next version: 0.9.0
-  OS version and name: Kubuntu 20.04.1

[2020-08-27 18:29] jorgenman opened #600 "Can't delete tab character on Android"
# Current behavior

Can't delete (backspace) a tab character on Android. The editor will delete one space, as if the tab were converted to spaces and one space was deleted, but then the space is quickly added back again.

# Expected behavior
The tab character should be deleted

# Steps to reproduce

1. Create a new note in Windows, consisting of a tab character (not spaces) followed by some text.

[2020-08-27 20:17] laudep opened #601 "Implement custom codemirror modes"
Note: this been asked before in the legacy app: [#1866](https://github.com/BoostIO/Boostnote/issues/1866).

Code snippets in languages that are not supported by CodeMirror modes by default are not highlighted.
CodeMirror maintainers have stated:

I think adding custom modes to Boostnote can increase the adoption rate and all-round user experience.
I for one would also like to have ABAP support for

[2020-08-27 21:37] adrianchia opened #602 "Display Number of notes in each folder"
In BoostNote Legacy each folder displays number of notes it has. This would be helpful especially when we have large number of notes for each folder.

[2020-08-28 07:37] Rokt33r commented on #589
I think we should allow to customize UI fonts. @xfq Btw, which font would be the best for Chinese character?

[2020-08-28 07:52] Rokt33r commented on #601
I found https://github.com/larshp/codemirror-abap. Is it stable enough? https://github.com/larshp/codemirror-abap

[2020-08-28 07:55] Rokt33r commented on #590
It should be fixed by now! Thanks for reporting!

[2020-08-28 07:55] #590 closed

[2020-08-28 07:57] Rokt33r commented on #593
@trieste96 Please join our slack and ping me! (@Rokt33r) I'll help you directly.

[2020-08-28 07:57] #593 closed

[2020-08-28 08:02] Rokt33r commented on #594
You can just remove the file system storage, move it to the cloud sync folder and add it to the app again. I'm not sure it is worth introducing in the app for now.

[2020-08-28 08:02] #594 closed

[2020-08-28 08:04] Rokt33r commented on #598
Ah, I should normalize the name of folders. Thanks for reporting.

[2020-08-28 08:05] Rokt33r commented on #598
@Ahmed-E-86 Your bug should be different. Could you create another issue with a screenshot of the error logs?

[2020-08-28 08:16] Rokt33r commented on #596
You can do it with Three tildes(`~~~`). Is it still difficult to use tildes?

[2020-08-28 08:18] Rokt33r commented on #585
Confirmed. I'll fix it in this weekend.

[2020-08-28 08:36] quadransmuralis commented on #594
I think it is, if you have to use more than one computer, say a desktop on
a day to day basis and then a laptop when out for meetings.

Cheers and thank you!

On Fri, 28 Aug 2020 at 10:02, Junyoung Choi <notifications@github.com>
wrote:

--
Robert Heath
+33 6 50 75 73 95

[2020-08-28 08:50] laudep commented on #601
Yeah it should be.
I've recently updated that repo to upgrade the dependencies and the highlighting.

[2020-08-28 09:57] tcharlss opened #603 "Store as notes as .md files"
(Hoping this topic has not been adressed before, I did a quick search and didn't find it.)

# Current behavior

Notes are all stored in a single JSON file.

# Expected behavior

This might go against the philosophy of the app, but I'm giving it a shot anyway :)

I was expecting the notes to be stored as real independant markdown files.
I think it's important that the actual notes remain easily acc

[2020-08-28 10:53] HamzaSunny opened #604 "Add search to note editor"
# Current behavior
i have been pressing Ctrl + F, but no search bar is showing in note editor nor on preview. i want to search for text in editor or preview as i have large amount of text in a note

# Expected behavior
when pressing Ctrl + F, a search bar should appear in note editor or preview so we can search by some text in our note.

# Steps to reproduce
There are no specific steps to reproduc

[2020-08-28 11:27] Ahmed-E-86 commented on #598
Maybe I don't have to. I tried it again, and it worked, but I have a question if you don't mind. I can use  File System storage online after I sign in, right?

[2020-08-28 11:32] Ahmed-E-86 commented on #598
Maybe I don't have to. I tried it again, and it worked.

[2020-08-28 12:07] Ahmed-E-86 commented on #598
This application is confusing. How can I use File System storage as cloud storage?

[2020-08-29 02:55] xfq commented on #589
Here is a sans-serif font stack used in a project I'm involved in, for your reference:

https://github.com/w3c/clreq/blob/c545424c6829da35c819f851e8f347fd91e75aea/local.css#L1-L7

They are mainly fonts that come with operating systems. The advantage of this is that it matches what the current OS uses, so it can be a comfortable look.

[2020-08-29 05:54] nodesocket opened #606 "Deploying to AWS S3 returns 404 - /app/bundle.js"
I am attempting to run this from my own AWS S3 bucket.

Locally, I ran: `npm run build`. Then I uploaded the entire contents of the `compiled` directory to my AWS S3 bucket. However, when I load up the site, I am getting:

[code]

Indeed `bundle.js` is not in the `app` directory but in the parent `compiled` root. What am I doing wrong?

[2020-09-01 00:38] Rokt33r commented on #505
We need to wait until the current importing flow is stable enough. I'll come back to this issue around the end of this month.

[2020-09-01 04:25] Rokt33r commented on #606
We're using vercel with specific routing settings to deploy the web app. If you want to try to deploy it to S3, you have to restructure the compiled output.

[2020-09-01 04:25] #606 closed

[2020-09-01 04:25] Rokt33r commented on #604
We don't have searching in a note feature yet! But we will add it soon!

[2020-09-01 04:27] Rokt33r commented on #603
Could you tell me why do you need this feature?

[2020-09-01 04:36] Rokt33r commented on #589
https://github.com/BoostIO/BoostNote.next/issues/492 This should be related

[2020-09-01 04:50] Rokt33r commented on #502
@TimeBomb Could you tell me how many notes and attachments do you have? Also, we would like to recommend to use File System-based storages if you don't desperately need to use the mobile app

[2020-09-01 04:51] Rokt33r commented on #598
@Ahmed-E-86 Thanks for the report!

[2020-09-01 07:27] Rokt33r commented on #247
@dvkndn We can access a node's actual position in raw text. I've been slowly working on it. https://github.com/rehypejs/rehype-react/pull/22

[2020-09-01 07:30] Rokt33r commented on #64
@b-rhodes It's an irrelevant issue. Could you create another issue? Also, I'd like to know how do you want to determine the finished status for a note.

[2020-09-01 07:42] Rokt33r commented on #581
@sisoe24 Sorry for my late answer. Yeah, the file system is still fragile if you have corrupted data. We will introduce some tolerance so the app can deal with the problem by itself.

@Code-5 What are the sources files?

[2020-09-01 12:34] tcharlss commented on #603
Well to sum it up, that way the notes would not to be "locked" inside the app (regardless of any export feature).

On top of my head:

* they would be visible and browsable outside of the app, in any file browser
* they would remain editable outside of the app with any editor
* they would still be accessible if the app is uninstalled for whatever reason

[2020-09-01 19:56] Ahmed-E-86 commented on #598
You are welcome. I thought BoostNote.next will be better, but I was shocked. I went back to BoostNote legacy.

[2020-09-02 06:28] Rokt33r commented on #598
@Ahmed-E-86 What do you think we need to improve? Could you join our slack and give some more feedback? It would be really helpful for us to know what we should prioritize.

[2020-09-02 06:28] #598 closed

[2020-09-02 12:01] jinxuan opened #609 "Windows stuck at loading"
# Current behavior

After upgrade BoostNote to version 0.9. It failed to start and got stuck in `loading data`.

![image](https://user-images.githubusercontent.com/5571773/91978550-4dd0ed00-ecf2-11ea-8ecf-dc883d59cfe6.png)

# Expected behavior

Should start normally
# Steps to reproduce
Just open the new App

# Environment

## Desktop/Web
- Boost Note.next version:  0.9
- OS version and name: Wind

[2020-09-02 17:51] TimeBomb commented on #502
@Rokt33r I have less than 30 notes. No attachments. Yeah I can see why file-system based storages would be more stable. I was hoping to use the same notes app between my phone, work laptop, and home laptop, hence my use case.

[2020-09-03 07:27] #419 closed

[2020-09-03 07:59] Rokt33r commented on #609
@jinxuan
Did you import any data from legacy storage? Also, could you join our slack? Then I could help you much faster.

[2020-09-03 08:36] Rokt33r opened #610 "Allow other file types for attachments"
# Current behavior

Allows attaching files with `image/*` mime type only

# Expected behavior

Allows any files

[2020-09-03 20:46] matteorr opened #611 "Import old boost note notes (cson) into new boost note (json)"
Is there a way to automatically import notes made from the old boost note (saved in cson format) into the new boost note (saved in json format)?

[2020-09-03 20:47] #611 closed

[2020-09-04 06:04] jasonsturges commented on #476
Similar to @k3ntar0 on macOS Catalina 10.15.6 with the ZIP distributable:

![image](https://user-images.githubusercontent.com/1213591/92204291-c6e25880-ee48-11ea-83a0-3af5635b9de4.png)

Pressing the help button oddly produces nothing - macOS issue, but I don't recall seeing that before.

With the DMG, granting via "open anyways" didn't run the app.

Checked out master branch, and was able to build

[2020-09-04 06:22] asyraf-labs opened #613 "“Boost Note” can’t be opened because Apple cannot check it for malicious software."
<img width="453" alt="Screenshot 2020-09-04 at 14 14 48" src="https://user-images.githubusercontent.com/58986949/92205979-532c6400-eeb9-11ea-8c08-252e5247052d.png">

# Current behavior

I get this error when downloading it on my mac

"Boost Note” can’t be opened because Apple cannot check it for malicious software."

# Expected behavior

Expected to download and open it succesfully

# Environment

[2020-09-04 06:33] asyraf-labs commented on #613
I'm sorry, I'm not allowed my mac setting to download any app outside from the app store. This is my fault..

Now, I enabled it and I can download it successfully

[2020-09-04 06:33] #613 closed

[2020-09-04 17:04] Ark-91 opened #614 "Save notes to custom path on mobile"
# Current behavior

Currently the notes will be saved in the internal app storage.

# Expected behavior

On first startup or creating a new storage the app should ask additionaly where the storage location should be when (Storage Type: Local) is selected. So i can choose in example "Documents" or whatever location on the sdcard. On this way it would be easy to sync my notes with an NAS or to creat

[2020-09-04 22:19] Flexo013 commented on #64
@b-rhodes Full preview already exists. It just doesn't have a lock setting to it, so clicking it will open the editor.

This last part can be changed by going into Preferences and setting the switch to editor to something like 'upon double click'

[2020-09-05 00:58] #601 closed

[2020-09-05 05:11] JohnKendrick opened #615 "Problem import old note from .md files"
# Current behavior
I am using Boost Notes on an arch linux system.  I have installed from the AUR and the version is 0.9.0-1
I am trying to import some .md files but appear to be unable to do so.
Looking at the website it looks as though I should be able to do this from the preferences
But my preferences does not have an option for import.  Its last menu entry is 'Billing'
![image](https://user-im

[2020-09-07 00:44] yuan-yao-rft opened #617 "Sort snippets by languages."
It would be nice to have the ability to sort snippets by languages.

[2020-09-07 05:54] Flexo013 commented on #617
_BoostNote.next currently does not support snippet notes. You likely are using Boostnote Legacy, so I will be transferring this feature suggestion to the correct repo._

I agree that this would be a nice feature to have when using a lot of snippets!

[2020-09-08 02:51] changsijay commented on #262
same here `git clone https://github.com/BoostIO/BoostNote.next && cd BoostNote.next  && npm i && npm run dev`

[code]

[2020-09-08 03:49] btstw opened #618 "Import from legacy boostnote failed"
# Current behavior
import from legacy boostnote showing error
![圖片 1](https://user-images.githubusercontent.com/25838252/92430768-4add6d00-f1c8-11ea-8af7-4b2d0bb0d43f.png)

# Expected behavior
Import Sucess

# Steps to reproduce

1.  Create an empty file system based storage
2.  Select legacy boostnote storage location
3.  Click Import

# Environment

## Desktop/Web
- Boost Note.next version: 0.9.

[2020-09-08 16:39] BinaryShrub opened #619 "Plantuml Support"
After a Google search it looks like PlantUML was supported with the original BoostNote but I can't seem to get BoostNote.next to generate a diagram. Is it currently supported? If not, is it planned to be supported?

[2020-09-11 09:13] pietervallen commented on #581
I had the same issue in the MacOS version. It occurred after I pasted images in the markdown document. I cannot share my sourcefiles because it contains confidential data, but I try to reproduce with test data

[2020-09-11 18:49] Flexo013 opened #622 "Add internal links to heading within notes"
# New behavior
The ability to make a link to a heading within a note.
## Example
Clicking the word `tables` in the preview will jump to the linked heading `#Tables`.
[code]

[2020-09-11 19:09] Flexo013 commented on #609
Duplicate of #581

[2020-09-11 19:09] Flexo013 commented on #581
Possible dupe of #502

[2020-09-12 09:55] Nelvin commented on #603
I'm switching over to markdown at the moment and also evaluating the (huge amount) of existing tools and to me this is a crucial feature as it helps to decide which tool to use depending on what file I actually work.
One might edit files depending on the current needs with different tools like boostnote or a coders editor (VSCode, Sublime etc.) or maybe generate/modify files using scripting langua

[2020-09-13 09:02] Flexo013 commented on #619
PlantUML currently isn't supported. It is planned, but does not have a high priority.

Please give this issue, #371, a 👍 to show interest!

[2020-09-13 09:02] #619 closed

[2020-09-13 09:27] Flexo013 commented on #618
Issues also exist with attachments:
![image](https://user-images.githubusercontent.com/4507015/93014756-0846d680-f5b4-11ea-80ef-d4275ffe505f.png)

[2020-09-13 09:31] Flexo013 commented on #615
The feature can be accessed by clicking the options icon on the storage you wish to use.

If you run into any issues during the import, add them to #618

[2020-09-13 09:31] #615 closed

[2020-09-13 09:37] Flexo013 commented on #600
This also applies to newlines.

[2020-09-13 09:45] Flexo013 commented on #596
Even with dead keys the `` ` `` can be followed by another `` ` `` instead of another space. That way you don't need extra key presses.

Another option is to use multiple keyboard layouts, and switch between them with <kbd>Win</kbd>+<kbd>Space</kbd>.

[2020-09-13 09:45] #596 closed

[2020-09-13 10:20] Flexo013 commented on #262
@changsijay Did you make the `.env` file?

[2020-09-15 05:15] dwivedikunal100 opened #624 "Add focus/full screen mode same as old boostnote"
# Current behavior
There is not focus mode, the side bar is persistent

# Expected behavior
<img width="233" alt="Screenshot 2020-09-14 at 11 02 26 AM" src="https://user-images.githubusercontent.com/20519006/93168394-66082980-f740-11ea-8190-1be9c9501142.png">
A button to enable focus mode

# Steps to reproduce

Present in old boostnote

# Environment

## Desktop/Web
- Boost Note.next version: 0.9.

[2020-09-15 08:57] Rokt33r commented on #581
@pietervallen Could you share me the name of the image file?

[2020-09-15 17:21] Dimitri1124 commented on #581
I had the same issue in the Windows 10 version 64 bits. My version Boostnote is 0.9.0 and after try to open i have this same message. I try all of the solution the people give in this issue but not sucess. I try to Reloading/Force Reloading, quitting the app, rebooting the computer and Uninstall and Reinstall. Same result.

[2020-09-16 00:47] chayac commented on #474
+1 on this. I started using Boostnote because I wanted to take advantage of features like this, so I hope they will return in the new version!

[2020-09-16 02:08] whiphone opened #625 "Cannot login by windows app to github"
Select create storage, click type to 'cloud', then sign in.

It will open the browser for authorizing with github account, but showed error:
`Unhandled Error: No repository for "AccessTokenRequest" was found. Looks like this entity is not registered in current "default" connection?`

## Desktop
- Boost Note version:  0.9.0
- OS version and name:  Windows 10

[2020-09-18 03:18] danieltichiyama opened #627 "Preferences > Import doesn't exist"
# Current behavior

I cannot find where in the current MacOS app to import my notes from the old Boostnote

<img width="1211" alt="Screen Shot 2020-09-17 at 5 15 57 PM" src="https://user-images.githubusercontent.com/49180688/93551414-820af700-f909-11ea-84f9-7c3e08f64040.png">

# Expected behavior

To have this option or some other form of this functionality in the preferences pane.

# Steps to rep

[2020-09-20 01:11] shuangwu opened #628 "can't type in note's body area"
# Current behavior
version: Mac 0.9.0

can't not type in note's body
screenshot:
<img width="929" alt="Screen Shot 2020-09-20 at 9 05 24 AM" src="https://user-images.githubusercontent.com/657226/93692082-499f2080-faa3-11ea-879f-95d43f5ebbb2.png">

# Expected behavior
note's body should be editable area.

# Steps to reproduce

1. install Boost note using dmg package
2. open Boost note (given permis

[2020-09-21 04:44] shuangwu commented on #628
just realized it's my bad, though the UI could be improved. In the upper right corner, you can switch between editing/viewing mode.

<img width="101" alt="Screen Shot 2020-09-21 at 12 42 59 PM" src="https://user-images.githubusercontent.com/657226/93733479-5ba7be80-fb8a-11ea-885e-52b601c9c4b5.png">

[2020-09-21 04:44] #628 closed

[2020-09-22 04:08] yetAnotherUsernameTaken opened #629 "Adavnced Search options to Boostnote.next - regex search, Find and Replace etc options"
# Current behavior

At present, there is a simple "Search/Findbar", however this is not enough.
Why not expand it advanced like "regex search, Find and Replace options".
Its very hard to search as number of notes are increasing in number.

# Expected behavior
Search bar should include features like "regex search, Find and Replace options" etc, this makes it more usable.

# Steps to reproduce
This

[2020-09-22 04:18] yetAnotherUsernameTaken opened #630 "Lines in the note be tagged seperately"
# Current behavior
At present, we can tag notes.

# Expected behavior
In addition to above behavior, can we also have option "to tag specific lines" and able to view them across different notes with same tag used across different notes.

Some note taking apps offer it.
https://synapbook.com/
![Screenshot_2020-09-22 SynapBook - cloud tree note taking](https://user-images.githubusercontent.com/20890

[2020-09-22 04:24] yetAnotherUsernameTaken commented on #629
<img width="849" alt="hIL2e" src="https://user-images.githubusercontent.com/20890151/93843979-5f862e80-fcb9-11ea-8067-52f1cae01917.png">

Please see the options available in this text editor.
Please take a cue from this image.

Thank you.

[2020-09-22 14:35] Thalos12 opened #631 "Importing from legacy does not preserve the time of the notes"
# Current behavior

After importing from the old Boostnote, the creation times were reset.
All my notes now look like they were created at the same time, the time I imported them.

# Expected behavior

All the notes should keep the creation times.

# Steps to reproduce

1. Create a new File System storage
2. Go to the storage settings
3. Click on Import under Import Notes from Legacy BoostNote
4.

[2020-09-23 05:12] Sylk opened #637 "Error while adding DropBox File Storage"
I'm attempting to add a new file storage that looks like so.

Storage Name: `Dropbox`
Location: `/Users/sylk/Dropbox`

And I'm getting the following error: ```TypeError: Cannot read property '/' of undefined```

Version: 0.9.0

[2020-09-24 16:28] ryokohbato opened #632 "Details tag support (spoiler support)"
We can use the details tag on github, and I want to use it on this app, too. Do you plan to make it available in the app?

# Sample Code

![image](https://user-images.githubusercontent.com/67552983/94173652-30e1a100-fecf-11ea-88d8-16b18f16ab16.png)

(I couldn't paste the code in text well. Sorry.)

# Current behavior

![image](https://user-images.githubusercontent.com/67552983/94173801-64bcc680-fe

[2020-09-24 22:21] jtmichelson opened #634 "Markdown checkboxes do not work properly with uppercase X."
# Current behavior

* When you create a checkbox in markdown using an uppercase X (e.g. `* [X]`), you cannot uncheck it in the preview pane.
* If you create a checkbox in markdown using a lowercase x (e.g. `* [x]`), the functionality works as expected (you can check and uncheck the box in the preview pane).

# Expected behavior

* When you click the checkbox on the preview pane, it should update t

[2020-09-25 07:10] J3n50m4t commented on #482
It's added
https://github.com/Homebrew/homebrew-cask/pull/89804

[2020-09-25 12:10] shirakiya commented on #627
I recently started using the new Boost Note 0.9 ver. switching from legacy Boostnote because the new Boost Note was added to Homebrew Cask. ref. https://github.com/BoostIO/BoostNote.next/issues/482

But I have the same trouble.

It can be seen that the import tab had been deleted after version 0.9. https://github.com/BoostIO/BoostNote.next/pull/595
I just started using the new Boost Note 0.9 ver.

[2020-09-25 12:20] shirakiya commented on #482
I could install the app via Homebrew Cask. Thank you for your work!

[2020-09-26 14:26] #482 closed

[2020-09-27 09:27] ArthurCueio commented on #627
The function was moved. You can find it in each storage's settings page, note that you need a file system storage type in order to import from legacy.

[2020-09-27 13:22] pietervallen commented on #581
Hi sorry for the late reply, i was away. The filename was a Apple screenshot: ``Screenshot 2019-09-20 at 16.45.06.png``

[2020-09-28 01:47] shirakiya commented on #627
Can we copy notes from a file system storage to other cloud system storage?

[2020-09-28 05:21] simpler-one opened #635 "Carret goes left after typing on the line having some character"
# Basic info
- Type: functional
- Reproduce: 10/10
- App: Boost Note 0.4.1(for Android)
- Conditions:
    - keyboard: convertable(ex: Google 日本語入力)

# Operation to reproduce
1. Write someting at a line(α)
2. Move to another line
3. Back to (α)
4. Type something

# Expected behavior
The carret locates on right side of the typed character and stays there after operation 4.

# Current behavior
The ca

[2020-09-28 07:10] tsdtsdtsd commented on #590
The links are still broken, **including "Open in Browser"**.

No Pi-Hole here, only an ad blocker on Chrome (blocking GTM). Everything works fine when I disable it.

[2020-09-28 08:18] merovingienne commented on #389
@Rokt33r  As per [this comment on PR 561](https://github.com/BoostIO/BoostNote.next/pull/561#issuecomment-664714342), does Boost Note support HTML tables in notes?

I haven't been able to get it to work properly. The editor correctly identifies the syntax and highlights it, but the live preview does not render it. HTML exports also have the same issue.

Platform: macOS 10.15.6 (19G2021)
Boost Note

[2020-09-28 17:27] Flexo013 commented on #625
@Rokt33r can give you a hand with this. I recommend you join our [Slack ](https://join.slack.com/t/boostnote-group/shared_invite/zt-cun7pas3-WwkaezxHBB1lCbUHrwQLXw)and contact him there directly. That way we can this issue resolved faster.

[2020-09-28 17:43] Flexo013 commented on #389
@merovingienne HTML tables are not supported as they can be fully created using the markdown format. If there is a large demand for the feature then it's something we will consider.

(Also feel free to create a new issue with the feature request for HTML table tag support.)

[2020-09-28 17:48] Flexo013 commented on #635
This is probably related to #472

[2020-09-28 17:56] Flexo013 commented on #627
@danieltichiyama The import feature can be found within the settings menu of the storage you want the notes to be imported to.

@shirakiya You can move notes from one storage to another by dragging them from one folder to another.

[2020-09-28 17:56] #627 closed

[2020-09-29 18:29] shirakiya commented on #627
Thanks for your advice. But I can't do that. Using Mac OS Catalina 10.15.6.
Do you have an another cool method to copy notes?

[2020-09-29 19:33] Flexo013 commented on #632
Great suggestion! I would love to have this!

[2020-09-29 19:36] Flexo013 commented on #629
Slightly related: #219

[2020-09-29 19:38] Flexo013 commented on #624
#448 will be done before this feature. Afterwards we will look into this feature.

[2020-09-29 19:40] Flexo013 commented on #627
I don't think we do.
@shirakiya Could you create a new issue with maybe a gif showing that the behavior doesn't work? (Do you get a pop up after dragging the note?)

[2020-09-29 19:47] Flexo013 commented on #637
To use 3rd party syncing you need to make sure the storage is a local file based one. That will allow for syncing with Dropbox and other cloud services.

[2020-09-29 19:47] #637 closed

[2020-09-29 20:10] chloechen8 opened #638 "Cannot find Dropbox Syncing on the Ipad Version"
I download iPad version on the apple store.

In this version, I find cloud storage but I cannot find Dropbox Syncing.

Like in the screenshot, when I try to open the menu, I just find the folder in this place.
I found the ios helper website before, in that website, ios provide Dropbox.

Could you help with Ipad Version?

And I found the sign-in option, I am not sure where can I sync the Boostnote

[2020-09-29 20:10] #638 closed

[2020-09-29 20:13] danieltichiyama commented on #627
I'm also having the same issue of not being able to drag and notes from one storage folder to another.

[2020-09-29 20:14] Flexo013 commented on #638
To support 3rd party syncing on mobile, the app first needs to support file based storage system. This is on the roadmap. More details here: https://github.com/BoostIO/BoostNote.next/issues/450

If you wish then you search (or create) a specific issue for this and fund it to incentive devs to implement the feature.

[2020-09-29 20:17] Flexo013 commented on #627
@danieltichiyama Please create an issue with all info that you have 😃

[2020-09-29 20:19] danieltichiyama commented on #627
well, now I'm having a different issue, "Loading Data..." is the only thing that shows, I saw another issue so I'm going to piggy back on that for now.

[2020-09-29 20:22] danieltichiyama commented on #581
Hi, I'm having a similar issue in that "Loading Data..." is the only thing that appears.  Running:

BoostNote: Version 0.9.0 (0.9.0)
MacOS: Mojave 10.14.3

Here's a screenshot with devtools open

![Screen Shot 2020-09-29 at 10 20 50 AM](https://user-images.githubusercontent.com/49180688/94611477-7b4f7e80-023d-11eb-96d7-591633f6f679.png)

[2020-09-29 20:29] Sylk commented on #637
My dropbox file location is local.

[2020-09-29 23:19] chumbalum opened #639 "Improvement request: alternative note title appearance"
# Current behavior

In the old boostnote there was the option to fetch the note title from the note itself. Now the note title is strictly seperated. But often a note begins with a heading which is the same as the title of the note (at least in my case). This leads to a pretty redundant display of title + headlines (first Screenshot). It looks very restless.

![grafik](https://user-images.githubus

[2020-09-30 05:00] work-work-koba commented on #635
Thanks. 😃

Is there anything I can help you with?
This problem is critical for me, who is Japanese.

[2020-09-30 14:16] BhupeshRohilla commented on #581
I faced a similar issue as well but with TypeError.
BoostNote: Version 0.9.0 (0.9.0)
macOS Catalina 10.15.5
I reinstalled the app but it works fine only for first time.

![Screenshot 2020-09-30 at 7 43 34 PM](https://user-images.githubusercontent.com/47006379/94696948-3c145100-0355-11eb-9cd5-bb2be5d433a7.png)

[2020-10-02 00:32] mianos commented on #502
Does this mean the cloud sync is not currently supported?

[2020-10-02 08:01] ixiniansec opened #642 "After reinstalling the system, how to import the notes to the new boostnote?"
Hello.
My backup file is in documents/bootst,
The following files exist:

-attachments
-notes
-bootsnote.json

Looking forward to your reply. Thank you

[2020-10-04 13:33] Flexo013 commented on #637
So you got everything to work with Dropbox syncing?

[2020-10-04 13:39] Flexo013 commented on #639
Wouldn't it also be a solution to not write the title at the start of your document? In your example the note would just start with `Bauteile`.

[2020-10-04 13:43] Flexo013 commented on #635
@work-work-koba You could look into the root of the issue, and attempting to fix it in the code.

Another option would be to fund this issue on [IssueHunt](https://issuehunt.io/r/BoostIO/BoostNote.next/issues/635). That way you incentivize other developers to provide a solution to this issue.

[2020-10-04 14:12] Flexo013 commented on #502
@mianos Cloud sync is currently supported, but there do seem to be some bugs with it.

I have yet to encounter any syncing issues myself, so I estimate that a large portion of users is experiencing no issues with cloud sync.

[2020-10-04 14:15] Flexo013 commented on #642
You create a new local storage in a different location. Then you go to the settings page of that storage and select to import old notes. Finally navigate to the old note directory and import it.

[2020-10-04 14:15] #642 closed

[2020-10-04 14:17] Sylk commented on #637
No I just reverted to an old version of BoostNote.

[2020-10-05 23:13] chumbalum commented on #639
Hi. Yea, this would be a solution but it "transfers" information from markdown to the program to achieve a structure which should be made with markdown itself. In addition if the markdown is shared/exported, that title will be lost.

But if you think this request doesn't fit the vision of boostnotes ui, you can close this issue.

[2020-10-06 08:40] mig42 opened #643 "Unable to create file system storage using a path with spaces"
# Current behavior

I get an error message `TypeError: Cannot read property '/' of undefined` when I try to add a File System storage with a path that contains spaces. There are no error messages in the console. I'm using the company OneDrive, so I can't rename the directory.

<img width="1312" alt="Screenshot 2020-10-06 at 09 22 25" src="https://user-images.githubusercontent.com/4534635/95176976-

[2020-10-07 13:27] ilfuriano commented on #643
I found a temporary workaround in Windows 10.
Just create a symbolic link to your path without spaces.
Es. `mklink /J C:\localStorage "C:\localstorage with space"`

[2020-10-08 04:27] merovingienne commented on #389
@Flexo013 thank you for the response!

My use case is to have a list of items within a table cell. This can be easily achieved with HTML tags in old Boostnote, and I was confused by the comment that all HTML tags allowed on GitHub are supported.

Cool, I'll create a new issue :)

[2020-10-08 04:44] merovingienne opened #644 "Support HTML Table tag"
# Current behavior

Boost Note currently seems to sanitize all HTML tags. If we include an HTML table, it is ignored by the editor and not shown in the rendered document. Mardown tables are rendered properly as expected.

<img width="1631" alt="ss_Boost_Note_0 9 0_html_table" src="https://user-images.githubusercontent.com/21020841/95415561-37036300-094e-11eb-9626-f5f737c8f43e.png">

# Expected beh

[2020-10-10 13:47] Airsaid commented on #284
What is the progress of TOC feature now?

[2020-10-10 14:22] erolsk8 commented on #24
I'm wondering the same. I've set up cloud storage in order to have notes on iOS devices, but I can't find a place where notes are actually saved so I can back that up. Maybe it's on some AWS or something, but it would be great to somehow have access to that.

[2020-10-10 16:52] mig42 commented on #643
Thanks @ilfuriano ! However, that doesn't work in macOS 😢 if I use a symlink, Boost Note will resolve the actual path and use it instead...

[2020-10-13 07:16] chris-golden opened #645 "I have lost my storage in the new Boost Note"
Version: Latest
Platform: Ubuntu Linux 20.04
Language: English

I have recently run into a problem with the new Boost Note anyway. I had a file system problem so I restored a backup of the ./config/'Boost Note' folder. When I open Boost Note it does not recognise the database folders and local storage folder. My notes are just empty and it is asking me to create a new storage.

[2020-10-14 10:25] tonsnoei opened #646 "My cloud database isn't synced anymore"
# Current behavior
Boostnote is not syncing anymore. Between the Mac and Windows app. When I open it in the browser the following error occurs:

{status":500,"name":"indexed_db_went_bad","message":"unknown","reason":"A mutation operation was attempted on a database that did not allow mutations."}

# Expected behavior

To sync normally

# Steps to reproduce

Having my cloud account and login using

[2020-10-14 10:37] Rokt33r commented on #645
`./config/Boost Note` is having Boost Note's configuration only. Your notes should be stored in a different folder.

If you can still access the old file system, please open the app and execute `JSON.parse(localStorage.getItem('note.boostio.co:storageDataList'))` in console. Then you can see the actual location of your file system-based storage. If your storage is not a file system based storage,

[2020-10-14 14:44] #645 closed

[2020-10-14 15:18] bayucandra commented on #604
This is the only feature that holds me from using Boost note. Stay with evernote for now. Will be glad to know when it getting added to Boost Note :)

[2020-10-15 07:26] justrach opened #647 "ARM64 Windows Support"
# Current behavior
Emulated in 32 bit windows emulator
# Expected behavior
A native build would be great since Electron recently added 64 bit support for ARM64 :)
Load in ARM64, however, it loads in the emulation layer, leading to a lack of battery loss.

# Steps to reproduce

Are the binaries open to compile it for ARM64, so that there can be unofficial releases.

# Environment
ARM64 for Windows1

[2020-10-16 16:47] ashanan commented on #618
I'm also having trouble importing my old notes, but I'm getting a different error: `EISDIR: illegal operation on a directory, read`.

[2020-10-17 17:57] ZurMaD opened #648 "Chocolately support"
Hello there, this is a feature request. I only found the legacy version of Boost Note on [Choco ](https://chocolatey.org/packages?q=boostnote). Will be support for that in the future? Thanks for coding this amazing software.

[2020-10-19 14:34] olividir commented on #581
I am also getting this behavior, BoostNote is stuck at loading when I try to open it. This started happening on my newest update (might it have something to do with the kernel?)
Version: 0.16.1-1
Manjaro GNOME (kernel 5.8.16)
Rebooting has not worked (haven't removed/installed again yet).

[2020-10-19 17:21] alytle opened #650 "Tab doesn't indent a sub-list item"
# Current behavior

When typing out a unordered list (- item 1), if I hit enter and then tab, it moves the cursor to the right, but leaves the list sublevel the same.

# Expected behavior

In Boostnote original (and most markdown editors), hitting tab after a newline should indent the list to the right and make it a "sub list".

Interesting, the common way to unindent a list (shift-tab) *does* wor

[2020-10-21 19:11] jcarr98 opened #651 "Infinite loading"
# Current behavior

Stuck in infinite loading screen
<img width="1312" alt="Screen Shot 2020-10-21 at 3 08 45 PM" src="https://user-images.githubusercontent.com/33735493/96771223-61720900-13af-11eb-9cb7-440d2625cb1b.png">

With dev tools:
<img width="1312" alt="Screen Shot 2020-10-21 at 3 08 54 PM" src="https://user-images.githubusercontent.com/33735493/96771269-6e8ef800-13af-11eb-890d-720bc373fd5

[2020-10-22 17:25] Flexo013 commented on #651
Transferred this to the correct repo

[2020-10-22 17:33] jcarr98 commented on #651
For anyone else with this problem, I wrote a quick python script to remove the notes since I needed them immediately. It only takes title and content, and sorts them into their respective folders.
[Link to repo](https://github.com/jcarr98/boostnote-extractor)

[2020-10-22 17:38] Flexo013 commented on #650
Confirmed this behavior on Windows 10.

[2020-10-25 23:25] vishalnarwal99 opened #654 "Cannot Update or Delete Cloud Storage"
# Current behavior

- was trying to update storage name (on cloud) but couldn't and the name was reverting back to old one
- couldn't delete the storage from the cloud as well

# Expected behavior

- the storage name to be updated on the cloud
- and the storages to be completely deleted from the cloud

# Steps to reproduce

for updating storage name
1. create a storage on the cloud
2. change the n

[2020-10-26 19:52] myrcutio commented on #581
Same issue here, force reload does nothing and nothing loads.

<img width="1195" alt="Screen Shot 2020-10-26 at 2 51 49 PM" src="https://user-images.githubusercontent.com/1391968/97221385-c99f6100-179a-11eb-85b7-e973e6f859a1.png">

[2020-10-26 20:14] Rokt33r commented on #654
Could you try again after signing out and signing in? I assume your authentication information is invalidated

[2020-10-28 21:29] gargatsh opened #661 "Sync Error. Failed to Sync Storage"
I have only recently installed Boost Note and am using it for the past three days. I have installed the Windows Desktop App and the Mobile App for Android. Until this afternoon, synchronization between the two apps worked flawlessly. But for the past few hours, syncing seems to have stopped. When I press on the sync symbol to manually sync my notes, I receive an error message in the Windows app, r

[2020-10-29 03:26] chayac commented on #502
I am also having this issue when syncing between Mac and Windows. I've followed the advice here of restarting the app when switching computers, but unfortunately this often either doesn't work or at times has even resulted in data loss. For example, if I edit a note on Mac, switch to PC, don't notice that my changes from Mac weren't synced, and then go back to Mac, all the changes from my Mac have

[2020-10-29 05:24] igorer88 commented on #462
@Rokt33r I checked Spanish translations on master, they seem good to me. I'm a native speaker.
What else is missing to be checked?

[2020-10-29 06:14] ManojDaswani opened #662 "Boost Note crashes and gives a blank screen"
# Current behaviour
I have been using BoostNote desktop version on mac for about 6 months now, until recently (since 7 days approx), I have been getting this error where BoostNote app crashes in about 2 secs after it starts. I had checked my internet connection which works fine with other apps. When I reload or Force Reload BoostNote opens and I could see my notes, but again after 2 seconds it cra

[2020-10-29 11:20] markt-checkit commented on #581
Same here.  Is there a workaround?

[2020-10-29 12:03] grafyte opened #663 "going up a line on backspace"
# Current behavior

I'm on Android 11, on a Google Pixel 5, but not sure if this is the same across all platforms.

If I'm editing a list of items (just one element per line - no formatting) when I get to the start of the line, tapping delete (well, backspace) on the Android/phone keyboard, the keyboard is hidden and I am kept at the start of the line.

# Expected behavior

When I'm at the start o

[2020-10-29 17:19] attindersingh90 commented on #326
Opening from zip file does not work try dmg and then open anyway on catalina.

[2020-10-29 22:25] #634 closed

[2020-10-30 05:55] incace commented on #629
Please add this functionality. It is a standard when working on large files where you may need to find/replace text. Right now we have to use two editors to have the ability to find/replace.

[2020-10-30 06:48] incace opened #665 "Icon support for Storage"
# UI Suggestion
I was playing around with the idea that icon support would be awesome for the Storage areas. Maybe something similar to how it is implemented in Bear.app with the tagging and tag icons, giving us the ability to choose an icon for each Storage location.

**Current Bear.app**

![image](https://user-images.githubusercontent.com/61343/97667274-29209980-1a45-11eb-93ff-7b7d4cd3c519.png)

[2020-10-30 06:48] colineberly opened #666 "Icon support for Storage"
# UI Suggestion
I was playing around with the idea that icon support would be awesome for the Storage areas. Maybe something similar to how it is implemented in Bear.app with the tagging and tag icons, giving us the ability to choose an icon for each Storage location.

**Current Bear.app**

![image](https://user-images.githubusercontent.com/61343/97667274-29209980-1a45-11eb-93ff-7b7d4cd3c519.png)

[2020-10-30 06:49] #665 closed

[2020-10-30 06:55] incace opened #667 "Wiki app mode only showing one note in a folder and nothing in sidebar after Import from Legacy."
# Current behavior
Note app mode shows multiple notes inside of a folder. Wiki app mode only shows the first note. Also, notes don't appear visible in the sidebar under the folder. The notes in question came from an import.

# Expected behavior
Show all notes in Wiki app mode and populate sidebar with notes list under folder.

# Steps to reproduce
1. Select Wiki app mode from Preferences > General

[2020-10-30 07:03] incace commented on #667
Just a comment on this. The issue seems to stem directly from "Import Notes from Legacy BoostNote". On creating manually, notes show in sidebar as well as main window.

[2020-10-30 13:45] vishalnarwal99 commented on #654
tried it many times even after uninstalling and reinstalling the app but doesn't work

[2020-10-30 19:21] gargatsh commented on #661
I have updated Boost Note to version 0.10.1 but the issue remains, with the same erro messages.

[2020-11-01 23:20] vishalnarwal99 commented on #654
yep tried it, even after uninstalling and reinstalling the app the problem still persists

when deleting online cloud storage
- gives this dialog box on both app and browser
  ![note boostio co](https://user-images.githubusercontent.com/32016029/97817867-0b616780-1cc5-11eb-957a-85b106637875.png)
- on browser console displayed
  ![note boostio co](https://user-images.githubusercontent.com/32016029/

[2020-11-02 15:41] vech32 opened #669 "No note titles in sidebar"
In the new wiki mode when you load a storage used in previous version 0.9, in the sidebar there is no note titles, only collapsed folders. When you rename that folder all its notes appear in the sidebar as it should be.

Then If you restore all the storage files from backup there will be all ok from the start, no need to rename folders again.

[2020-11-05 14:44] gargatsh commented on #661
After reinstalling the Windows app with no apparent improvements concerning my issue, I switched to the web app. For a few hours syncing between the web app and the Android app worked neatly. Then again, syncing stopped with the same errors as in the Windows app before.

[2020-11-05 17:25] gargatsh commented on #661
As syncing was too unreliable for unknown reasons, I felt forced to look for an alternative solution.

[2020-11-05 17:51] jschneid opened #674 "Support Shift key + (other navigation keystrokes) to navigate and select text"
In almost every application on both Windows and Mac where text can be entered/edited, text can be selected by holding the Shift key, and pressing another navigation keystroke. For example:

- Shift + Left arrow key, Shift + Right arrow key: Extend the current selection by a single character
- Shift + Ctrl + left/right arrow (Windows) / Shift + Option + left/right arrow (Mac): Extend the current se

[2020-11-06 12:12] J3n50m4t commented on #651
I've had the same Problem. In my Filesystemstorage i had a Folder /notes/notes and a  file
`notes/boostnote.json` with following content:
[code]

I deleted this file and the folder and  restartet Boost Note.app. Now Everything works fine again.

Error started with upgrading form 0.10.1 to 0.10.2.

[2020-11-06 15:12] jschneid commented on #674
Looks like this is working as expected in Boost Note 0.10.2. Thank you!

[2020-11-06 15:12] #674 closed

[2020-11-06 16:01] themagiulio commented on #206
Hi, I'm trying to implement this by using [remark-shortcodes](https://github.com/djm/remark-shortcodes) as suggested by @Rokt33r

I archived to create shortcuts for strings, but I can't put `<a></a>`.

I wrote these lines of code which are meant to put in the MarkdownPreviewer an `<a></a>` which points to the given url.

[code]

Unfortunately it shows only a block with the string 'https://boostnot

[2020-11-08 04:04] guneskaan commented on #669
Sounds like a duplicate of #667

[2020-11-08 10:31] jitendraavinash opened #675 "Superscript and subscript support"
# Current behavior
Superscript and subscript is not working

![Screenshot 2020-11-08 at 3 55 41 PM](https://user-images.githubusercontent.com/16822120/98462565-3246fe80-21db-11eb-8cae-010d88386f5b.png)

# Expected behavior

![Screenshot 2020-11-08 at 3 56 29 PM](https://user-images.githubusercontent.com/16822120/98462576-3ffc8400-21db-11eb-9481-259cb9f7a7b1.png)
![Screenshot 2020-11-08 at 4 01 10

[2020-11-08 12:07] Komediruzecki commented on #675
I think you are using markdown which is for Boostnote not Boostnote.next (still does not support all of the old features).

Try:
[code]

To get the descired functionality in boostnote.next.

[2020-11-08 12:16] jitendraavinash commented on #675
Thank you for such a quick response.
Is there any possible way to do it inline?

Example: the Equation is  a^2

Regards,
JITENDRA AVINASH

On Sun, Nov 8, 2020 at 5:37 PM Komediruzecki <notifications@github.com>
wrote:

[2020-11-08 16:05] ajmandourah opened #676 "RTL support"
as for the latest release, RTL is not supported fully. you can surly write in RTL langs but both RTL direction and makdown preview would be appreciated

[2020-11-08 16:57] Flexo013 commented on #675
Super- and subscript are not supported yet in BoostNote.next. (The cheatsheet you linked is for features as in Boostnote Legacy).

[2020-11-08 17:00] Flexo013 commented on #669
Duplicate of #667

[2020-11-08 17:00] #669 closed

[2020-11-08 17:05] Flexo013 commented on #206
@themagiulio Please join our Slack and DM Rokt33r directly. He'll be able to help you out.

[2020-11-08 17:15] Flexo013 commented on #661
This is real strange. @Rokt33r do you have any idea what could be causing this?

[2020-11-08 17:17] Flexo013 commented on #646
Could you try again with the latest version 0.10.2?

Possibly related to #661

[2020-11-08 17:26] Flexo013 commented on #654
@Rokt33r Do you have any other ideas?

[2020-11-08 17:29] Flexo013 commented on #666
Possibly related: #334 (and emojis for folder icons)

[2020-11-08 17:43] Flexo013 commented on #663
Duplicate of #448

[2020-11-08 17:59] grafyte commented on #663
Is it??

[2020-11-09 07:44] Flexo013 commented on #663
My bad, made a typo in the issue number.

[2020-11-09 07:44] #663 closed

[2020-11-09 07:48] igorer88 commented on #462
Hi! I've made a PR with the Spanish translation. :D

[2020-11-09 07:49] grafyte commented on #663
But now you've closed the issue - did it get resolved?

[2020-11-09 16:01] DenisTome commented on #618
As reported here (https://github.com/BoostIO/Boostnote/issues/3652), when trying to import legacy notes, I get the following error:
[code]
I've tested the note import both on Ubuntu 18.04 (Linux x64 4.15.0-121-generic) and OSX (Catalina) with the same error.
Current version of BoostNote: 0.10.1
Legacy BoostNote version: 0.15.3

[2020-11-09 17:31] DenisTome commented on #581
Same on Ubuntu

[2020-11-09 19:13] guneskaan commented on #667
Can I work on this? @Flexo013

[2020-11-10 08:31] igorer88 commented on #44
@jhdcruz nice framework @Rokt33r I've started to work on a version for the legacy version (the one on Issue Hunt) with [Commander](https://www.npmjs.com/package/commander), but at the same time, I started to port it to the new app.

What's the status of this issue? Can I contribute?

[2020-11-10 08:38] igorer88 commented on #43
@Rokt33r Good Idea, any advance at the db client?

[2020-11-10 23:57] mokeyish opened #678 "What about the plan for UML support?"
What about the plan for UML support?

[2020-11-11 09:20] jappe999 commented on #678
When I found out the new version didn't have UML support, I switched back to the old version. But the old version cannot be installed on Pop!_OS 20.10 so I have to use the new version without UML support. I love the functionality and would love to have it implemented in the new version as well.

Is there something I can do to help?

[2020-11-11 23:52] 100ideas opened #679 "local dev toolchain broken"
# Current behavior

`package.json` scripts for starting development build in browser lead to exception that crashes app.

[App.tsx#L140](https://github.com/BoostIO/BoostNote.next/blob/373f642d55cc6938705f70730af45a8887a01b6b/src/components/App.tsx#L140) in current master (374afb3) is part of the problem - the code tries to initializate an IPC channel using a nonexistant function that would otherwi

[2020-11-12 00:45] mokeyish opened #680 "413 Request Entity Too Large"
# Current behavior

nginx 413 Request Entity Too Large

# Expected behavior

# Steps to reproduce

POST https://note.boostio.co/api/users/1397/storages/2023/db/_bulk_docs

<img width="569" alt="图片" src="https://user-images.githubusercontent.com/16131917/98880605-14bbb280-24c3-11eb-9919-58871078f915.png">

# Environment

## Desktop/Web
- Boost Note.next version: 0.10.2
- Mac Os:

[2020-11-12 00:54] mokeyish commented on #680
@Rokt33r Would you fix this first? Here is the solution [stackoverflow](https://stackoverflow.com/questions/24306335/413-request-entity-too-large-file-upload-issue).

[2020-11-12 07:09] Flexo013 commented on #663
@grafyte Yes, because issue #488 is about the same problem of deleting line breaks on mobile.

[2020-11-13 21:29] agdillon opened #682 "Can't move a note"
# Current behavior

It's possible I'm missing something, but I can't seem to move a note anymore.  Dragging and dropping doesn't do anything, and the icon in the top left corner of a note lets me navigate but doesn't move the note.  In both cases there are no errors in the console.  I'm not sure when this started.

# Expected behavior

I believe dragging and dropping a note used to work.  I read s

[2020-11-14 09:41] Komediruzecki commented on #682
Hi,

Can you let me know of the mode you are in? (file->preferences->general->AppMode)
Is it Note, or Wiki mode?

When mentioning sidebar do you mean list of notes from currently opened folder? Or Wiki app mode where notes are shown in preview with folders.

For latter, I don't think dragging is supported (don't work for me either). If you are in Note App Mode, you should be able to drag'n'drop th

[2020-11-14 18:31] agdillon commented on #682
Thanks, that was the issue.  I had noticed a change in the sidebar with an update, but didn't know I could change it back.  Did Wiki mode become the default?  I also wonder if this setting might be better under the View menu, because I did look there and didn't see anything relevant.  Anyway, thanks for your help.

[2020-11-14 18:31] #682 closed

[2020-11-14 19:10] Komediruzecki commented on #682
Yes, I think it's default mode if you skip choosing it after update.

As for menu, there is also an feature request / work being done on putting things into it's perspective menu items, for now thou, it's all under preferences.

No problem, if you have any other questions, please do ask.

[2020-11-15 10:56] broth59 opened #683 "Unsubscribe api response 404"
## The request for unsubscription cloud service response with status 404, it seems to be not implemented..

![Screenshot from 2020-11-15 20-01-45](https://user-images.githubusercontent.com/53033811/99183210-75761400-277d-11eb-9ec2-b5e605b6b838.png)

How can i unscribe this?

[2020-11-15 20:02] AntowaKartowa commented on #539
Damn. I have planty of notes with mermaid tree diagrams. That's the only obstacle stoping me from moving to BoostNote Next

[2020-11-16 04:40] PeterlitsZo commented on #464
I find that the application do not store the state of the vim editor. When I close the application, it will lost the set of my vim mapping.

[2020-11-16 18:13] Komediruzecki commented on #323
Hey, did you managed to do something with this?

Dunno about colors below tags, maybe it should too much clutter the UI.
The last or only item to pick would be color picker to select the color (even thou, maybe it is not such a good idea to allow any color)

Color preferences for default list of colors?
Maybe see google calendar default colors:
![image](https://user-images.githubusercontent.com/18

[2020-11-16 22:16] max-arias commented on #323
All yours, I didn't get any info so I moved on to something else. Cheers.

[2020-11-17 10:09] noplanman opened #688 "Direct download APK for Android"
I don't use the Google Play Store and Boost isn't available yet on F-Droid, so I was wondering if there is a place we can directly download the APK file to install on Android.

Thanks!

[2020-11-18 17:49] theericbeaty opened #690 "Move notes to other folders in Wiki mode"
# Can't drag and drop notes into folders I create.

For some reason, I'm unable to drag and rearrange notes into folders with Boostnote 0.10.2 like I could with the Legacy version. According to [this forum post](https://github.com/BoostIO/Boostnote/issues/3174), this feature was supposed to be fixed by now.

If it has been implemented already, please tell me how to enable it.

Here's what my Conso

[2020-11-18 18:34] Komediruzecki commented on #690
Hi,

You are linking the issue from boostnote legacy here.

Can you check this (https://github.com/BoostIO/BoostNote.next/issues/682) question and reply to find a way to do this properly in boostnote.next?

[2020-11-19 07:14] Flexo013 commented on #678
Please leave a 👍 on this issue #371. That will increase the priority of the feature being implemented.

[2020-11-19 07:14] #678 closed

[2020-11-19 07:19] Flexo013 commented on #667
@guneskaan Yes feel free to pick up any issue that interests you! 😄

[2020-11-20 08:17] Rokt33r commented on #209
Already resolved

[2020-11-20 08:17] #209 closed

[2020-11-21 08:55] Rokt33r commented on #683
@broth59 Sorry for making the trouble. I'm checking it now.

[2020-11-21 09:54] Rokt33r commented on #679
We're going to deprecate the browser version for now. So please try with `npm run dev:electron` and `npm run dev:webpack`. I'll update readme soon.

[2020-11-21 09:54] #679 closed

[2020-11-21 12:49] Rokt33r commented on #683
@broth59 Sorry for the trouble. The bug has been fixed! Please ping me after unsubscribe. I'll try to refund your subscription too.

[2020-11-21 12:49] #683 closed

[2020-11-21 12:51] Rokt33r commented on #690
Sorry it isn't implemented yet. I'll do it in this week.

[2020-11-21 12:56] Rokt33r commented on #690
@theericbeaty  But I want to make sure that you are using wiki mode. The screenshots you've shared don't look like our app. What do they mean? Also, could you make a gif video of how you drag your notes? You can take one easily with these app. https://gyazo.com/en https://getkap.co/

[2020-11-21 13:00] Rokt33r commented on #680
@mokeyish Can you measure how big your request body is? Increasing body size could make our app vulnerable. So I'd like to be careful.

[2020-11-21 13:04] Rokt33r commented on #646
Could you discard clear all cached data and try to log in and to sync again? If you're using chrome. you can do it from Dev tool -> Application -> Clear storage -> Clear site data
<img width="953" alt="Screen Shot 2020-11-21 at 10 04 00 PM" src="https://user-images.githubusercontent.com/5865853/99877994-7d362c80-2c45-11eb-99a7-f319dd97544e.png">

[2020-11-21 13:05] Rokt33r commented on #646
Please reopen this issue if you still have the same problem

[2020-11-21 13:05] #646 closed

[2020-11-21 13:17] Rokt33r commented on #680
Duplicated. https://github.com/BoostIO/BoostNote.next/issues/661
@mokeyish Please share the information in #661!

[2020-11-21 13:17] #680 closed

[2020-11-21 13:18] Rokt33r commented on #661
@gargatsh Could you check Network section of the dev tool and check the http request's request body size? I'm suspecting you've attached some very big files.

[2020-11-21 13:19] Rokt33r commented on #666
Thanks for the suggestion!!

[2020-11-21 15:31] mokeyish commented on #661
@Rokt33r  How to measure request body? It seems to upload everything in my local  everytime.

<img width="698" alt="图片" src="https://user-images.githubusercontent.com/16131917/99880899-35b59d80-2c51-11eb-8fd4-d5387382f84d.png">

[2020-11-21 19:12] theericbeaty commented on #690
I was using Wiki mode. But I've since decided to stick with the Legacy version for the time being because of the features. Thanks for your help anyway.

[2020-11-22 10:50] Komediruzecki commented on #662
Hi, is this still happening?

Can you give more details about what did you tried already? (complete reinstall of app, another user account, etc)
Can you make a gif on your actions for the above screenshots? (opening the app, reloading, waiting for crash)

[2020-11-23 23:36] mokeyish commented on #661
@gargatsh

due to `client_max_body_size` in nginx ,[stackoverflow](https://stackoverflow.com/questions/24306335/413-request-entity-too-large-file-upload-issue)

[2020-11-24 12:45] zez9787 opened #695 "Add spellcheck support"
# Current behavior

The current version does not support spellcheck.

# Expected behavior

It would nice to have spellcheck support as a feature toggle in preferences. This issue was already created on the regular version of BoostNote [Issue Here](https://github.com/BoostIO/Boostnote/issues/76).

# Steps to reproduce

Type any misspelled word.

# Environment

## Desktop/Web
- Boost Note.next versi

[2020-11-24 12:50] fzeiser opened #696 "Allow resizing of images"
Feature request: Possibility to resize images for rendering

In the legacy version it was (easily) possible to resize an image. I tried the same type of command now, but without success. Is it (still) possible to resize images for rendering (if so, how?) or can this be implemented with the current Markdown renderer?

# Current behavior

![image](https://user-images.githubusercontent.com/15156776/1

[2020-11-24 13:31] fzeiser opened #697 "Images/attachments not indexed in `Attachments` when importing from BoostNote legacy"
# Images/attachments not indexed in `Attachments` when importing from BoostNote legacy

# Current behavior

I have imported notes from Boostnote legacy in a test storage (filestorage based). The notes have attachments, mostly images. They are beeing rendered, but they are not indexed in `Attachments`. Even when i create a new note and past an image (or drag an drop) it doesn't how up in Attachment

[2020-11-25 07:37] ManojDaswani commented on #662
Hi Team,

Yes it is still happening.

I had installed the BoostNote on iOS which is working, but BoostNote on my Mac, which has been set on local storage, the below problem still persists and I cannot use BoostNote at all. I am afraid and unsure, if I uninstall BoostNote on my Mac which has all my notes would be deleted, so I have not yet uninstalled it. If you could confirm that my local storage

[2020-11-25 09:01] Rokt33r commented on #645
@chris-golden You can try this. If you still need help, please join our slack and ask directly to me! I should answer in several hours.  https://github.com/BoostIO/BoostNote.next/issues/380#issuecomment-608569928

[2020-11-25 09:04] ReneHamburger1993 commented on #603
For me this feature would be nice too.
For the sake of converting some python examples to a ipython notebook I adapted an existing solutions to export the markdown content from the json files and then be able to convert them.
To directly have those as md files would be great!

[2020-11-25 09:44] ReneHamburger1993 opened #698 "Code block is blank with unknown languages"
# Current behavior

When typing

[code]
 inside  a node

it is rendered as a blank box (it contains invisible non markable text, as I can copy it via the button).

# Expected behavior

in case of unknown language just show as default text

# Steps to reproduce

1. type

\`\`\`tcsh
unset noclobber
\`\`\`

2. check the rendering

# Environment

## Desktop/Web
- Boost Note.next version: 1.x? Where to

[2020-11-25 16:11] chrisgoffinet commented on #661
i just ran into this issue as well. sure enough after checking dev tools, the POST of the body is a little over 1mb

[2020-11-25 19:04] Komediruzecki commented on #662
Hi Manoj,

It could be something with particular installation. So for file storage, you chose some folder where notes would be saved, that is they are on disk somewhere, so you can backup them (find them, and see if they are there in their raw format, inspect them to see that everything is there). If you copy them to safe location, they will not be lost. Given that, you can try reinstalling the ap

[2020-11-26 03:41] Rokt33r commented on #662
@ManojDaswani Please join our slack and send DM to me(@rokt33r). I can help you directly.

[2020-11-26 05:26] ManojDaswani commented on #662
Hi,

Even after storing my local storage safely and after uninstalling and reinstalling boost note the problem persists.

Could you send me your Boostnote link for your team for me to join Slack so that I could DM you.

Thanks

Manoj

[2020-11-26 20:03] stenwall commented on #651
I got this exact problem. I moved the local storage folder and then restarted Boost Note, and it booted without a problem. I then manually copied the folder info from the old `boostnote.json` to the new `boostnote.json` and also copied over all my notes-json-files folder by folder. When I came to the last file in the last folder, Boost Note was back to this infinite loading.

I then remembered tha

[2020-11-28 01:46] Rokt33r opened #699 "Introduce React Storybook"
FYI: how to apply theme

[code]

[2020-11-28 09:24] Rokt33r commented on #667
@guneskaan @incace We think it's been fixed already. Please try v0.10.2 or later version! If you still see the problem, please open this issue again!

[2020-11-28 09:24] #667 closed

[2020-11-28 09:43] Rokt33r opened #700 "Revamp all Shortcut keys"
Based on Apple guide
https://developer.apple.com/design/human-interface-guidelines/macos/user-interaction/keyboard/

|Name |macOS  |Windows/Linux  |
|---|---|---|
|New Note | Cmd + N | Ctrl + N|
|New Folder | Cmd + Shift + N | Ctrl + Shift + N|
|Bookmark| Cmd + D | Ctrl + D|
|Find All Notes| Cmd + Shift + F|Ctrl + Shift + F|
|Print|Cmd+P|Ctrl+P|
|Find|Cmd+F|Ctrl+Shift+F|
|Full screen|Cmd + Ctrl+F|

[2020-11-28 21:38] guneskaan commented on #667
Hi @Rokt33r, I'm able to reproduce this is in v0.10.2. Legacy files are imported to the storage location, but only one note shows up on the app per each folder. I'm looking into it.

[2020-11-29 08:33] Komediruzecki commented on #388
This could be closed as we added checkmarks. But cannot find the 388 issue to put it in kanban board to done.

@Rokt33r can you look at it?

[2020-11-30 16:41] #388 closed

[2020-11-30 16:42] #243 closed

[2020-11-30 16:49] Flexo013 commented on #662
@ManojDaswani Here you go: https://join.slack.com/t/boostnote-group/shared_invite/zt-cun7pas3-WwkaezxHBB1lCbUHrwQLXw

[2020-11-30 16:54] Flexo013 commented on #698
Confirmed on Windows 10 with version 0.10.2

[2020-11-30 16:56] Flexo013 commented on #603
@ReneHamburger1993 Make sure to leave a 👍 on the first post in this thread to show your interest 😃

[2020-12-01 07:08] guneskaan commented on #462
Hello, I've opened a PR for Turkish translations. #705

[2020-12-01 08:02] ReneHamburger1993 commented on #603
got it! 👍

[2020-12-01 08:39] alexander-soare opened #707 "Is the preview meant to scroll with the editor?"
# Current behavior

While in editor/preview side-by-side mode I scroll down the editor and the preview doesn't scroll. Same vice versa.

# Expected behavior

I would expect the editor and preview to scroll in tandem. I'm new to Boostnote so I'm not sure this is a bug or a feature request.

# Steps to reproduce

Use Boostnote here https://note.boostio.co/app.

# Environment

I've tried both the bro

[2020-12-01 18:37] guneskaan commented on #707
Duplicate of #247

[2020-12-02 03:52] guyeu commented on #581
same, is there any way open my notes?!!

[2020-12-03 06:16] danpianji opened #708 "loading data... TypeError: Cannot destructure property `mime` of 'undefined' or 'null'."
# Current behavior
![图片](https://user-images.githubusercontent.com/25237166/100970940-efc1d900-3570-11eb-9bf4-72a86379d643.png)

# Expected behavior

all my notes could be loaded

# Steps to reproduce

1.the version is newst
2. its all ok，before i clike the view--reload
3. i reinstall ，restart pc ，can not fix it

# Environment

## Desktop/Web
pc win10 64bit
version newst

[2020-12-04 01:03] XSSpark opened #711 "Error while building the latest version of BoostNote.next"
Hi,

I'm trying to compile the latest version of BoostNote but I got the error below.

Source :
![image](https://user-images.githubusercontent.com/11510474/101107788-57107500-35d3-11eb-8920-cc1cca624f77.png)

Compiled :
![image](https://user-images.githubusercontent.com/11510474/101107816-70b1bc80-35d3-11eb-8772-35ab97e35af9.png)

My steps :
[code]

Same error on Windows 10 & Ubuntu 20.04

Did I m

[2020-12-04 11:32] dogfish182 commented on #618
when I import it 'works' in that i see the gui creating folders and looping over notes. it overwrites the same note every time and I end up with 1 note in every folder.

legacy 0.16.1
next 0.11.5

[2020-12-04 11:36] coderkk commented on #711
I am also facing same problem

[2020-12-04 15:04] Komediruzecki commented on #711
Yes, the web app version will probably no longer be supported. So the build only on webpack and running in browser won't work.
Run electron afterwards and it will run desktop app.
```npm run dev:electron```

[2020-12-04 15:28] coderkk commented on #711
I have tried `npm run dev:electron`, but I received the blow message

[code]

[2020-12-04 15:36] coderkk commented on #711
Just read back the Readme. Need run `npm run dev:webpack` and open another terminal to run `npm run dev:electron`.
[code]

[2020-12-04 16:34] XSSpark commented on #711
Great !!! Thanks !!

[2020-12-04 22:50] noplanman commented on #614
This feature is absolutely vital to make Boost usable as a standalone system.

Rather than saying "external storage", it should be "custom folder", which would allow any path, thus allowing synced folders 👍

[2020-12-05 00:56] danpianji commented on #708
no one tell me how to fix it？
ex

[2020-12-05 02:20] coderkk opened #714 "Copy the attachment name in attachment page"
Request feature: Copy the attachment name in attachment page

After upload the image to attachment, I can see the all the attachments in the attachment page. Sometime I need to reuse the same image to another page or search the image which use the image. I want to copy and paste the attachment name to reuse the image to another page. I also want to search the attachment name which pages are using

[2020-12-05 08:54] Komediruzecki commented on #708
Hi,

Can you please share more information about what kind of storage are you using.
Did you try to backup your notes if they are on file system (file system storage)?

This could be a problem with loading/opening invalid images/attachements. So if you can backup the notes and try to find in raw files the invalid attachement (and hopefuly remove it), the boostnote could load it easily).

Can you j

[2020-12-05 10:13] danpianji commented on #708
thanks a lot
i open /boostnote2/attachments and find a file with .bin ends, after remove it all is ok;
this is my fault, i want to try boostnote can save the .bin file.

[2020-12-06 15:15] #707 closed

[2020-12-06 18:16] #711 closed

[2020-12-06 21:29] Rokt33r commented on #708
Thanks for the reporting. We'd like to make the app more tolerance against malformed data. I'll close this after I actually make the app can bear with this issue by itself.

[2020-12-06 21:33] #631 closed

[2020-12-07 06:43] AlejandroRodarte commented on #474
Another +1. I frequently use admonition boxes and definition lists in my notes, hoping they return in the future so I can fully migrate to the new version.

Thank ou for your hard work!

[2020-12-09 23:39] myicq commented on #700
+1 for this. I like to work keyboard centric when taking (programmer) notes, and prefer navigation with keys only.

It's annoying that BoostNote has so few shortcut keys, and those that are, are not implemented in a meaningful way. Example, I can activate search with CTRL-P  (???!  Windows "stadard" is CTRL-F or CTRL-B) , this searches globally. But I cannot focus the found items.

Of course there

[2020-12-12 08:35] Flexo013 commented on #326
@LiliyaStefanova @rohan-git Does the above solution solve your problem?

[2020-12-12 08:38] #699 closed

[2020-12-12 09:01] xkLander commented on #697
I am experiencing a similar problem. When I import from the legacy boost note to the new storage in the new boost note, only half of the attachments are copied to the new destination.
OS: Linux
Legacy Boost Note version:
![image](https://user-images.githubusercontent.com/24826344/101979849-e287a700-3c60-11eb-95b9-aa2b2b8061c8.png)

New Boost Note version:
![image](https://user-images.githubusercon

[2020-12-12 13:17] hunpo opened #717 "Code block preview without line number"
I write python code block and markdown preview, without line numbers in highlighting code, I want line numbers with highlighting,so i can post it to my blogger.How to do it?

[2020-12-12 15:40] Komediruzecki commented on #717
Hi, I think what you are asking is currently in pull request, so the functionality is not currently here. Boostnote legacy should support this kind of line numbers.

See this: https://github.com/BoostIO/BoostNote.next/pull/529

[2020-12-13 00:02] Rokt33r commented on #700
@myicq

We're about to merge this. Could you check and share your thought? #713

Thanks for the idea. So you want to have these things.

- Nagivate between panes of folders / notes.
- Activate search and navigate to found.
- New note of course.(This is actually a bug)

Do you have any other things that should be implemented?

Please join our slack and send a DM or mention me(@rokt33r)
https://join

[2020-12-13 00:38] Rokt33r commented on #650
It's been fixed since 0.11.x!

[2020-12-13 00:38] #650 closed

[2020-12-13 00:39] Rokt33r commented on #483
It's been fixed since 0.10.x!

[2020-12-13 00:39] #483 closed

[2020-12-13 07:21] guneskaan commented on #643
Cannot reproduce in Mac Electron in v0.11.5

[2020-12-13 15:30] Flexo013 opened #719 "Editor/Preview switch state not remembered"
# Current behavior

Switching between editor and preview interfaces resets the UI to split editor, even after manual changing it to editor only.

# Expected behavior

Previous editor state should be remembered.

# Environment

## Desktop/Web
- Boost Note.next version: 0.11.5
- OS version and name: Windows 10

[2020-12-14 19:07] Komediruzecki opened #721 "Cloud Sync of Attachments (images) fails"
# Current behavior

The syncing between the various OSes should be available for image attachments but is not.

# Expected behavior

When I save attachment (image in this case) in boostnote.next and sync it to cloud, the synced attachment (image) should be retrieved in other synced locations. For example, on linux and windows.

# Steps to reproduce

- Open boostnote on linux
- Create new note with

[2020-12-14 21:35] #698 closed

[2020-12-16 21:46] tristenps opened #722 "Esc in Vim Keymap does not exit insert mode"
# Current behavior
Pressing <Esc> doesn't leave insert mode when using the vim editor keymap.

# Expected behavior
It should exit insert mode, just like Ctrl+C and Ctrl+[

# Steps to reproduce

1. Change/use editor keymap: vim
2. Press i to go into insert mode
3. Pressing esc pauses the cursor blink, but leaves you in insert mode.

# Environment

## Desktop/Web
- Boost Note.next version: Version 0

[2020-12-17 09:30] remylavergne commented on #581
Same here...

- macOS Big Sur

![image](https://user-images.githubusercontent.com/28859882/102469229-cb76f980-4052-11eb-84ba-bc25d402e3ce.png)

Someone found a workaround ?

[2020-12-17 09:34] markt-checkit commented on #581
I've switched to Apple Notes for now.  You can go in to the messages in the folder and try and retrieve them.  But I had alot of notes and would take forever, so I've decided to take the hit and move on.

[2020-12-17 14:44] kazijn opened #725 "UI is too small on higher resolutions and not able to adapt on Big Sur"
# Current behavior

UI is too small on high resolutions on Big Sur and this cannot be made bigger/smaller

# Expected behavior

Being able to change the UI size or having it dynamically adjust to the resolution

# Steps to reproduce

Open the application in 1920*1080 on Big Sur, then open in 4K

# Environment

## Desktop/Web
- Boost Note.next version: Version 0.11.6 (0.11.6)
- OS version and name:

[2020-12-17 19:00] Komediruzecki opened #726 "Cloud Workspace PDF export differentiate from boostnote.next PDF export"
# Current behavior

The team cloud workspace storage - boosthub exports the PDF differently than boostnote.next.
The boosthub application exports the code blocks (either blocks or idented code block) with background vs text impossible to read (no contrast).
The boostnote.next exports the code blocks correctly.

# Expected behavior

The applications should export the note to PDF the same, or at lea

[2020-12-18 13:50] Komediruzecki commented on #697
Hi xkLander,

Can you update the boostnote versions to latest and see if the issue persists?
I couldn't reproduce it with the latest versions.

If you have storage which you can share, feel free to contact me on slack (boostnote slack).
Or if you can reproduce it with simple note/attachment it would help addressing this issue.

I will try multiple attachments, maybe the problem is if one fails, ot

[2020-12-18 19:05] Flexo013 opened #728 "Improve automatic update flow"
# Current behavior

As of 0.11.5 (and earlier) the built-in updater works, but that's about it. It could be clearer what is going on. Also more options commonly found in updaters are missing.

# Suggested improvements

## Prompt options
When an update is found the user has a pop-up with the following options:
- Yes (downloads and installs update)
- No, skip this update (does what it says, user won

[2020-12-19 08:32] Rokt33r opened #729 "Fix side navigation overflow style when the side nav is too narrow"
<img width="116" alt="Screen Shot 2020-12-19 at 5 28 10 PM" src="https://user-images.githubusercontent.com/5865853/102684884-ac799280-421f-11eb-8998-66c3f31aa83c.png">
1. When control buttons appear, the label area of navigation item should apply ellipsis style.
2. New button's label is overflow

[2020-12-19 09:43] Rokt33r commented on #700
# TBD

- Shortcut to navigate notes
- ...

[2020-12-19 10:23] Komediruzecki commented on #700
A bit of shortcut/help window examples:
![JupyterShortcuts](https://user-images.githubusercontent.com/18196945/102687064-9d2d2180-41ec-11eb-8e2c-07f7017d05eb.png)
![UbuntuShortcutDialog](https://user-images.githubusercontent.com/18196945/102687066-9ef6e500-41ec-11eb-97bd-95d0e29001ac.png)

[2020-12-21 04:20] jiaosansan opened #731 "tags标签只能新建，不能删除"
在tags列表中，tags标签只能新建，不能删除。而且已经没有文档和这个tag标签关联的情况下，tag标签不能自动删除，也不能手动删除

[2020-12-21 07:26] Komediruzecki commented on #731
Hi,

Tags cannot currently be deleted in the tags list because of a bug. But they won't be automatically deleted because soon they could have a color associated with them (see this: https://github.com/BoostIO/BoostNote.next/pull/704) which means you have to manually delete a tag if you want to remove it rather than removing it from all your notes.

[2020-12-21 08:19] #289 closed

[2020-12-21 18:29] Flexo013 commented on #476
This issue will be fixed as of 0.12.0. If it does pop-up again, leave a comment here and we'll re-investigate.

[2020-12-21 18:29] #476 closed

[2020-12-21 18:31] Flexo013 commented on #731
As this question is answered I'm closing it.

[2020-12-21 18:31] #731 closed

[2020-12-22 07:24] guneskaan commented on #725
Hi, have you tried using Command + Plus/Minus to resize the UI? Could you attach a screenshot of your setup? Thanks

[2020-12-22 08:48] kazijn commented on #725
Those buttons have no effect on Big Sur. I don't know whether it is a Big Sur bug or something that you need to adapt for the new release.
![Screenshot 2020-12-22 at 09 40 11](https://user-images.githubusercontent.com/937222/102868703-cd69ff80-443a-11eb-87f2-741f3b773e54.png)

[2020-12-22 09:17] guneskaan commented on #725
Thank you. You're right. I've just tested on Big Sur and neither the keyboard shortcuts or clicking Top Menu View -> Zoom In/Out are working. I'm working on a fix

[2020-12-23 03:07] silentdiverchris opened #735 "Found Updates popup needs to mention BoostNote"
# Current behavior

When BoostNote finds an update to install, it notifies Windows users via the notification system and pops up the dialogue in the screenshot below. The title is just 'Found Updates', with the text in the box saying 'Found updates, do you want to update now.'

The problem is it doesn't say who or what has found an update. It ought to mention the product name otherwise it looks a

[2020-12-23 05:33] broth59 commented on #683
Subscription payment has been claimed twice. It seems to be not unsubscribed and not refunded.
Besides my membership is now free phase, not personal pro, so that I cannot request unsubscription via boostnote website.

[2020-12-23 12:49] guneskaan commented on #725
Looks like zoomin/zoomout options got commented out in https://github.com/BoostIO/BoostNote.next/blob/31a934415f10718d8d67d87eca89875fc8bf5143/src/electron/menu.ts. @Rokt33r, how will zoomin/zoomout features be handled?

[2020-12-23 13:03] guneskaan opened #737 "HTML Tags Are Not Being Rendered"
# Current behavior
Boost Note currently seems to ignore all HTML tags.
The feature to allow users render HTML tags have been introduced in https://github.com/BoostIO/BoostNote.next/pull/561.

Later it has stopped working due to the changes in the `mdast-util-to-hast` dependency (https://github.com/syntax-tree/mdast-util-to-hast/issues/38), and BoostNote upgrading `remark` dependencies without refl

[2020-12-23 13:11] guneskaan commented on #696
Looks like Markdown does not have a standard for image resizing. Discussions have taken place in the past on how image resizing in Markdown should be handled:
- https://github.com/gnab/remark/issues/72
- https://github.com/remarkjs/remark-images/issues/3
- https://stackoverflow.com/questions/14675913/changing-image-size-in-markdown

We have a few options for how we can integrate image resizing to

[2020-12-24 10:10] neutrinoceros opened #739 "Migration tutorial is broken ?"
# Current behavior

This blogpost from a year ago is the only resource I could find that explains how to migrate from legacy boostnote to this version.
https://medium.com/boostnote/how-to-migrate-data-from-old-boostnote-efd8a5c7aa7d

However the "Import" button is not present anymore... is there a new path to follow ? should the blog post be updated ?
I've been waiting for over a year to migrate a

[2020-12-24 10:32] Komediruzecki commented on #739
Hi neutrinoceros,

Yes, the process seems a bit different, try going to `File->Preferences->Storage`
There you can find the "import notes from legacy BoostNote" option where you can follow further instructions and choose a location of your legacy storage. Be sure to do this in file system storage in boostnote.next and import your notes.

![image](https://user-images.githubusercontent.com/18196945/

[2020-12-24 16:46] ibdf opened #740 "App window not maximizing"
# Current behavior
On most mac apps (non-native apps included) double clicking the top bar maximizes the app's window 100% of the screen. This is not fullscreen mode, which is possible by clicking the top left round green button, in this case the mac top menu bar is still visible. BoostNote does not follow this behavior... double clicking on the top bar of BoostNote does nothing.

# Expected behav

[2020-12-25 11:40] Komediruzecki opened #742 "The CTRL+S shortcut does not save document"
# Current behavior

The ctrl+s shortcut for save document fails to export the related document in .md, .html and .pdf.

# Expected behavior

The ctrl+s save document shortcut should export the current document/note correctly without fail.

# Steps to reproduce

1. Create a new note
2. Type ctrl+s
3. Chose a location
4. Save the document
5. The document should be saved in the correct format in the

[2020-12-25 11:56] neutrinoceros commented on #739
Hi, thanks for your prompt response !
I don't see the import section in my "Preference" menu. I double checked and confirme that I'm indeed running 0.12.2, do I need to upgrade to 0.12.3 ?
![Screen Shot 2020-12-25 at 12 54 20](https://user-images.githubusercontent.com/14075922/103134257-50e05680-46b0-11eb-9651-bd1a26d3b4c6.png)

[2020-12-25 12:48] mohdomama commented on #725
I am facing the same issue on linux.

[2020-12-25 13:04] broth59 opened #743 "Subscription payment has been claimed twice. It seems to be not unsubscribed and not refunded."
Subscription payment has been claimed twice. It seems to be not unsubscribed and not refunded.
Besides my membership is now free phase, not personal pro, so that I cannot request unsubscription via boostnote website.
You should get rid of my payment record directly through database or ask to van corp.

_Originally posted by @broth59 in https://github.com/BoostIO/BoostNote.next/issues/683#issuecomm

[2020-12-25 13:45] Komediruzecki opened #745 "Image attachemnts not exported correctly due to early attachment revoke operation"
# Current behavior

The attachments are not correctly exported for PDF export.

# Expected behavior

Attachment should be exported correctly since the feature is available.

# Steps to reproduce

1. Create a note
2. Add an attachment (image)
3. Export to PDF (both via export icon or with ctrl+s shortcut)
4. The attachments are not exported correctly (no image found icons rendered)

# Environment

[2020-12-25 20:39] Komediruzecki commented on #739
Hi,

In order to import the legacy storage you have to be in file system storage. PouchDB as shown in your screenshot will not have the option. Please use file system storage (as seen in my screenshot) and that will give you the desired option.

[2020-12-25 20:47] neutrinoceros commented on #739
Done. I was indeed able to import my notes that way. However, I don't think the converted notes are being synched on the cloud, and I can't find how to do this. Is it possible ?

[2020-12-26 10:06] Komediruzecki commented on #739
Great,

I don't think this is currently possible, but of course you can do it manually by copy pasting notes (now in boostnote) into cloud storage and thus be able to sync them. Since cloud will become legacy (new cloud is local workspaces) soon, I am not sure if this feature will be available.

[2020-12-26 10:16] Komediruzecki commented on #700
So new propositions are:

F1 - Show boostnote tutorial/shortcuts (as seen in above images, some modal with everything listed)
Alt + Left/Right (go through notes, switch tabs)
  - See if some other combination would be appropriate (cltr+j/l)

Can users currently re-bind shortcuts?
If not, we could offer key binding dialog which would be used to change shortcuts into user desired one. This can not j

[2020-12-26 15:04] Flexo013 commented on #743
I have contacted the right parties to deal with this issue. They will contact your shortly.

In case you haven't yet, I suggest you join the [Boostnote Slack](https://join.slack.com/t/boostnote-group/shared_invite/zt-cun7pas3-WwkaezxHBB1lCbUHrwQLXw), as it will be faster to assist you there.

[2020-12-26 15:06] Flexo013 commented on #740
Could you also mention what version of BoostNote.next you are using?

[2020-12-27 01:24] Rokt33r commented on #725
@guneskaan Sorry, it is not implemented yet. But it should be quite easy to handle. I'll make a PR and ship it in the next version.

[2020-12-27 02:10] Rokt33r commented on #743
@broth59 I've refunded the both payments and cancel the subscription. The refund should take around 2 weeks.

[2020-12-27 02:10] #743 closed

[2020-12-27 11:58] Komediruzecki commented on #721
Hi again,

So I investigated this issue further.

I downloaded attachment on windows and Linux, inspected hex content and I found:

1. On windows blob/byte array version, sequences of `EF BF BD` are added (meaning data corruption) i.e. characters could not be encoded properly
2. File sizes differ greatly (probably because of an additional sequence of data corruption)
  - Linux; 40kb
  - Windows: 7

[2020-12-27 20:11] Rokt33r commented on #739
@neutrinoceros

It is not possible. You could try our new cloud workspace which is supporting real-time collaboration editing. But the migration for the new cloud workspace is not ready yet. I assume it will be shipped before this February. Until then, please sync as same as how you did with the legacy app because the new app also saves your data as files.

I'll close this issue since I've updated

[2020-12-27 20:11] #739 closed

[2020-12-27 20:11] Rokt33r commented on #739
@Komediruzecki Thanks for supporting!!

[2020-12-27 20:47] neutrinoceros commented on #739
Thanks @Rokt33r !

[2020-12-27 21:11] Rokt33r commented on #581
I assume you or some automation tool in your machine manipulate your note storage. Please check all JSON files in your note storage are valid. @remylavergne @danieltichiyama

[2020-12-27 21:16] Rokt33r opened #746 "Improve tolerance of corrupted data"
# Current behavior

Boost Note.next app cannot deal with corrupted data in file system-based storage.

# Expected behavior

The app should provide some diagnostic tools so users can debug their own note storage

[2020-12-27 21:20] Rokt33r commented on #581
If you cannot fix the problem by yourself, please join our slack and send DM to me.

Also, I'll try to improve tolerance against corrupted data of file system-based storage. Please follow this issue.
https://github.com/BoostIO/BoostNote.next/issues/746

[2020-12-27 21:20] #581 closed

[2020-12-27 21:57] Rokt33r commented on #696
@guneskaan @fzeiser 3. should be the best in my opinion. I'll close this after #738 is merged.

[2020-12-27 21:59] #696 closed

[2020-12-28 11:57] #737 closed

[2020-12-28 14:08] ibdf commented on #740
Versione 0.11.5 (0.11.5)

[2020-12-28 14:57] Elchzone opened #747 "Can't rename or delete folder if name starts with "["-Character"
# Current behavior
1. Create a folder and let the name start with "["-Character
2. Try to rename folder to anything else. It doesn't matter if you try to remove the "[" during this renaming or not.
3. Observation: Folder name will remain the same
4. Try to delete Folder
5. Observation: Folder will not be deleted

Bug does not occur if the "["-Character is in other positions of the string.
I have n

[2020-12-28 16:43] Komediruzecki commented on #747
Hi,

I replicated the bug, the escape sequence was invalid and File System database were not using the escape regexp.

It should work when this is merged: #748

[2020-12-28 17:42] Elchzone commented on #747
@Komediruzecki

Hi,
thanks for the quick update on this issue and the solution! :-)
Merry X-Mas

[2020-12-28 18:06] Komediruzecki commented on #570
https://github.com/BoostIO/BoostNote.next/pull/713

As this is merged, this issue can be closed.
For local editor search improvements, there will be another issue and PR.

[2020-12-28 18:06] #570 closed

[2020-12-29 17:10] myicq opened #749 "Can't copy code block if no type specified"
# Current behavior
If you do not specify a type for a code fence, the text won't get copied to clipboard, even if icon to copy is there.

Text is displayed as code block.

# Expected behavior
Copy icon to work when it's there.

# Steps to reproduce

Make a code block without type:

[code]
         This is some text
[code]

Go to preview. Copy icon is there, but no "save" icon. Copy icon does not w

[2020-12-29 17:13] myicq commented on #749
NOTE: found that this is a duplicate of issue #585, but confirmed for latest version and on Windows platform.

[2020-12-29 18:00] Komediruzecki commented on #749
Hi,

I think this was forgotten so I created a bugfix, you can track it here: #750

[2021-01-01 03:22] ritou11 opened #752 "Command+S / Ctrl+S may not be good for "Save As""
# Current behavior

`⌘S` now is the shortcut for "Save As". However, it is a solid habit for me to use it as "Save" in all other editors. Now every time I finish the editing, `⌘S` would trigger the save as panel. It is really annoying when I use Boost Note as a daily note keeper or editor.

# Expected behavior

Use `⌘S` for "Sync", and `⌘⇧S` for "Save as". Or we can customize this as discussed in

[2021-01-01 09:41] floodkoff commented on #578
The same  happened to me just now. I cant install the app at all. At the same time I feel like I did something stupid right before that, which could have caused it.
- I installed boostnote.next, then realized I wanted to install boostnote (old version).
- I located the folder where the boostnote.next is installed and just removed it, without invoking uninstall procedure
- installed boostnote
- tri

[2021-01-02 16:15] jonnyeom opened #753 "Copyright date is 2017 in the app About dialog"
# Current behavior
Copyright date says 2016-2017 .

<img width="294" alt="Screen Shot 2021-01-02 at 11 12 27 AM" src="https://user-images.githubusercontent.com/19575068/103461317-717d6180-4ceb-11eb-8d02-996dc45a749a.png">

<img width="318" alt="Screen Shot 2021-01-02 at 11 11 18 AM" src="https://user-images.githubusercontent.com/19575068/103461305-57dc1a00-4ceb-11eb-8f46-805fc76d12a6.png">

# Expe

[2021-01-02 16:52] floodkoff commented on #578
I found the solution that fixed the issue for me. If you uninstalled previous version of boostnote.next incorrectly (just like I did and described above).
- Press Win + R (Windows Key + R)
- Type "regedit.exe"
- Navigate to HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Uninstall
- In there, you will see one or more folders. Open them one by one to find the one for Boostnote. One of t

[2021-01-03 11:55] Komediruzecki commented on #474
I'll close this as this is resolved with #727.

[2021-01-03 11:55] #474 closed

[2021-01-03 18:55] Rokt33r opened #754 "Export assets (Stylesheet, image attachments) along with a note"
When exporting a note as an HTML file or a markdown file, assets used in the note should be exported too.

## Current behavior

- Stylesheets of Syntax highlight and remark-admonitions are not applied to HTML files.
- Image attachments are not available after exported HTML and markdown files from filesystem-based storage are moved to other devices.
- The attachments handling behavior when exportin

[2021-01-04 10:36] JYPDWhite commented on #651
That was also the solution for my problem. Inside the BoostNote Data folder there where several boostnote.json in /notes in /attachments and in subfolder inside of notes also.

[2021-01-04 14:26] SimonCW commented on #722
Same Issue.

### Environment
- Boost Note version Boost Note 0.12.3
- Desktop, Win10

[2021-01-04 23:28] myicq opened #755 "Displaying preview resets cursor position to last search-found-position"
# Current behavior

The cursor position is reset to top of markdown if preview (rendered text) is switched on and off.

# Expected behavior

It is expected that editing can continue from same place regardless of preview state.

Not much of a problem for 10 line documents, but for really long texts, it's annoying to search the same spot again.

# Steps to reproduce

Create a document and add around

[2021-01-05 02:39] hkunzhe opened #756 "Add Rewrap support"
# Current behavior
BoostNote.next uses soft wrap to deal with a long line sentence. The actual text is still on the same line but looks like it's divided into several lines.
![image](https://user-images.githubusercontent.com/30763967/103600192-d3cf9f80-4f41-11eb-834c-17c947aedaf7.png)

# Expected behavior
[Rewrap](https://github.com/stkb/Rewrap) can automatically wrap a long line sentence into mul

[2021-01-05 05:54] Komediruzecki commented on #747
I will close this since the PR is merged. Thank you for your issue report!

[2021-01-05 05:54] #747 closed

[2021-01-05 06:27] Komediruzecki commented on #722
Hi to all,

this issue is happening because of local editor search keybinding for escape. This means that currently we have 2 actions which needs to be done for escape button, in VIM keybinding it must exit the insert mode and in search results overview it must clear the search.

Since the local editor search will soon be improved and aligned with global search, this issue will be resolved, since

[2021-01-06 16:31] Komediruzecki commented on #749
Since #750 is merged, I'll close this issue. The fix will be available in the next release.

[2021-01-06 16:31] #749 closed

[2021-01-06 16:33] Komediruzecki commented on #323
Since #704 is merged, I'll close this issue, the tag colors will be available in the next release.

[2021-01-06 16:39] #323 closed

[2021-01-09 08:56] #585 closed

[2021-01-09 08:57] Rokt33r commented on #585
It's already fixed!

[2021-01-09 13:10] Mirdarthos opened #760 "Keypress/keystroke formatting missing."
Using the previous boostnote, I got used to, and used, the keypress/keystroke functionality a lot. Wrapping the text in double square brackets ( `[[Text]]` ) would have caused it to be rendered as keyboard buttons.

# Current behavior

This isn't happening. It just shows the text as `[[Text]]`. No formatting or anything of the sort.

# Expected behavior

It should be rendered as buttons as in the

[2021-01-09 14:00] Komediruzecki commented on #760
Hi Mirdarthos

I'll see what we can do with those keyboard renderings, in boostnote.next you can use a similar feature with backticks as shown here: `code-block` (\`code-block\`)

For admonitions, they are added - just not in the latest release, once it comes it will feature the admonitions (maybe keyboard renderings too)

[2021-01-09 14:04] Mirdarthos commented on #760
I know about, and understand the backticks. I use them regularly, as well. They just aren't the same as the `code blocks` though.

But thank you very much!

[2021-01-09 14:24] Komediruzecki opened #762 "Improve local editor search (consistency with global search and improvements)"
When exporting a note as an HTML file or a markdown file, assets used in the note should be exported too.

## Current behavior

- Local editor search is using codemirror embedded search functionality.
- Local editor search has bad shortcuts bound to it
- Local editor search has hard to use search/replace process
- Local editor search is inconsistent with global content search

## Expected behavior

[2021-01-09 14:25] Komediruzecki commented on #745
As #744 is merged, this should be closed.

[2021-01-09 14:25] #745 closed

[2021-01-09 14:26] Komediruzecki commented on #742
As this is fixed in #744, this should be closed.

[2021-01-09 14:26] #742 closed

[2021-01-11 10:48] h-matsuo opened #763 "Allow Scroll-Past-End"
# Expected behavior

Please add a configuration which enables scroll-past-end.
This feature has implemented in the legacy Boostnote (https://github.com/BoostIO/Boostnote/issues/838, https://github.com/BoostIO/Boostnote/issues/1471).

# Environment

## Desktop/Web
- Boost Note.next version: 0.12.3
- OS version and name: macOS 10.15.7

[2021-01-11 19:14] Komediruzecki opened #764 "Navigation menu buttons are not useful when collapsed"
# Current behavior

The buttons are not usable when there is no space in the navigation menu.

See image:
![No space for buttons](https://user-images.githubusercontent.com/18196945/104227379-94c1b280-5449-11eb-9e4e-e873187d9baf.png)

# Expected behavior

The buttons should either be useful or not shown if they cannot be used in such a tight space.

# Steps to reproduce

1. Create a few folders
2.

[2021-01-11 19:23] Komediruzecki opened #765 "Editor tabs"
# Note
This issue is connected with #344 and #341.
This issue is for gathering interest and discussion about implementation details of this feature.

Few questions you can answer:
  - Do you miss this feature from boostnote legacy?
  - Is it better to have this option as opt-in i.e. editor tabs would take space at the top of the editor, by not using this feature you can have more space, but by usi

[2021-01-12 09:13] fabis94 commented on #752
Yes, exactly my thoughts as well. It's **incredibly** annoying to have the "Save As" window pop up every time I reflexively press Cmd+S

[2021-01-12 17:30] Komediruzecki commented on #752
Hi,

I agree with you, it's general user habit to save the document which is being edited with that shortcut (and since boostnote saves it automatically - the shortcut is bound to another action). I think we will probably introduce custom keymaps soon enough, so you should be able to change it to your liking.

[2021-01-13 02:39] AlejandroRodarte commented on #474
Outstanding. Will be looking forward to this recent addition.

Thanks to all the team behind this project!

[2021-01-15 05:45] janith-dev commented on #618
Does anyone have a solution for this, Where is the documentations of migrating notes.

[2021-01-15 17:00] Komediruzecki commented on #618
Hi janith-dev:

Try with this: https://medium.com/boostnote/how-to-migrate-data-from-old-boostnote-efd8a5c7aa7d
and please use latest versions.

If it does not work, join the slack as mentioned in article!

[2021-01-16 10:09] bbhenry commented on #618
@Komediruzecki It doesn't work, I just tried.

[2021-01-17 06:29] chayac commented on #474
Awesome, super excited for this! Excited to try it out. Thanks!

[2021-01-19 22:06] myicq commented on #755
Update, boostnote.next 0.12.4: The cursor position seems to strangely be NOT at the top of the document, but at the location where last global search resullt was selected.

Example:

* Make a long(ish) document of 50-60 lines. At the very end, please a unique marker like `thisistheEND`
* Search for this marker using  `CTRL-P`
* select the marker using double click with mouse (no keyboard function

[2021-01-21 03:44] CindyCyber commented on #589
Hi! I have an idea. This font [Consolas-with-Yahei](https://github.com/crvdgc/Consolas-with-Yahei) makes Chinese characters and English characters looks good.

[2021-01-21 14:28] zzttdd opened #768 "The search bar's background color and text color can't tell"
The text in search bar is unable to see clearly. Could change the background color or the color of text？

![1](https://user-images.githubusercontent.com/59756623/105363080-916dba00-5bf3-11eb-8d60-f24ccc18c39f.png)

- Version: 0.12.4
- OS: Windows 10
- Theme: Legacy

[2021-01-21 14:33] Komediruzecki commented on #768
We should implement proper legacy dark/white themes. The legacy theme is not really working with any part of UI, search is just another one of them.

@Flexo013 Did you have time to test some suitable colors for legacy theme?

[2021-01-21 14:55] CindyCyber commented on #768
Thank replying! BTW, is there anyway to customize the editor theme? I'd like to use my own text editor theme. I don't know how to find the code. Could tell me where should I go? Thanks again.

[2021-01-21 16:43] Komediruzecki commented on #755
Yes, it's kind of a mess now with all of this.

I'll try to see why this happens and prevent this.

Editor cursor should be kept stable even after preview is activated.
Editor cursor should change when you go to found item in search preview
Editor cursor should update when user moves it inside editor.

Does this sound good to you, do you have any other suggestions?

[2021-01-21 16:54] Komediruzecki commented on #768
Not sure about editor theme, there are plenty of themes available for editor.
But you can customize preview theme in File -> Preferences -> Markdown -> Preview Style

If you think this would be a nice to have, please open issue (feature request) and we will see if people like the idea.

[2021-01-22 01:40] CindyCyber commented on #768
OK, thanks for replying.

[2021-01-22 02:43] CindyCyber opened #769 "Editor and Markdown preview Monokai theme modify and fonts looks a little blur"
## Current behavior

I use this font [Consolas-with-Yahei](https://github.com/crvdgc/Consolas-with-Yahei) both in Sublime text 3 and BoostNote( in Markdown preview and editor), but there're some little things got different. Could anyone help check it? This font makes Consolas and Chinese characters look good.

### In editor mode(Their themes are the same -- Monokai):

**In Sublime**(The detais are

[2021-01-23 19:08] albertreynoso opened #771 "How can i uninstall the software in linux Ubuntu ?"
# Current behavior

# Expected behavior

# Steps to reproduce

1.
2.
3.

# Environment

## Desktop/Web
- Boost Note.next version:
- OS version and name:

## Mobile
- Boost Note app version:
- OS version and name:

[2021-01-23 20:43] Komediruzecki commented on #771
Depends how you installed, if it's debian package, download or double click on executable, it should opet some software center, and allow you the uninstall button.

If you were using appImage, it's only in temp memory and not really installed, look at the temp folder in Unix dist and remove it from there.

Be sure to save data before doing any such install/uninstall.

[2021-01-24 01:06] bbhenry commented on #410
This was a great feature in the previous Boostnote version. Major time saver.

[2021-01-24 03:32] CindyCyber commented on #769
BTW, the theme of BoostNote is Legacy.

[2021-01-24 03:41] #769 closed

[2021-01-25 10:26] fran1904 commented on #538
I have exactly the same issue on the desktop version. Renamed a folder, now the files are nowhere to be found.

[2021-01-25 14:36] Komediruzecki commented on #538
Can you provide version you are using, you should use last/latest version since there was one bugfix for renaming folders fixed (special characters at end/start), can you provide rename folder names (from and to what name) as well as example of how to reproduce it in latest version?

Of course, always have backup (or have it setup automatically outside of boostnote.next)

[2021-01-25 18:12] albertreynoso commented on #771
Thanks for your help, I solved my problem using apt-get.

On Sat, Jan 23, 2021 at 3:44 PM Komediruzecki <notifications@github.com>
wrote:

[2021-01-27 08:22] HineBlack opened #773 "Can't use ctrl-c to copy text in Vim binding mode"
# Current behavior

I just switched from old Boostnote, and found I can's use `ctrl+c` to copy text into clipboard, which has been solved in [old Boostnote issue #646](https://github.com/BoostIO/Boostnote/issues/646).

# Expected behavior

1. Add a copy to clipboard to existing `ctrl+c` shortcut
2. Change as to copy into clipboard on yank.
3. Custom keybinding maybe, I personally prefer use `Esc`

[2021-01-30 06:56] dtantono commented on #648
it is possible to use this (https://github.com/chocolatey-community/chocolatey-package-requests) for chocolatey support

[2021-01-30 06:59] dtantono commented on #450
Hi, in this feature that means called boostnote for teams, that means we cannot keep our personal note on the cloud anymore. is that so?

[2021-01-30 12:13] Mirdarthos commented on #760
From what I could see online, a new version was released ~2 weeks ago, so I downloaded it (the `.AppImage`, as I always do.)

I replaced the previous version, made this one executable, and checked that it was v 0.12.4. Which it was indeed.

Sadly, I was still unable to properly use admonitions. And I just checked again, I still am. It just appears in the same as in the edit pane. See [this image](

[2021-01-30 12:43] Komediruzecki commented on #760
Hi Mirdarthos,

You are using the wrong syntax, it is not the same as in boostnote legacy. Please replace "!!!" syntax with ":::".
See this for better understanding and which keywords for admonitions are available:
https://github.com/BoostIO/BoostNote.next/pull/727

[2021-01-30 13:40] Mirdarthos commented on #760
Hi @Komediruzecki.

THANK YOU THANK YOU TANK YOU!

I missed that, somehow. And I really do actually pride myself on being able to pick up something like that. And I brave the stormy ocean interwebz for it before coming here, and I STILL MISSED IT! i'M SORRY!

[2021-01-30 17:20] #648 closed

[2021-01-31 08:38] Komediruzecki commented on #771
I'll close this since it is resolved.

Please feel free to reopen if you have any other enquiry or open new issue request for any other problem.

[2021-01-31 08:38] #771 closed

[2021-02-02 20:18] patrickblackjr opened #774 "Profile photos are not compressed or downscaled in the web app"
# Current behavior

![image](https://user-images.githubusercontent.com/13282318/106656823-cfa69a00-6560-11eb-92a0-a362cdfbd8a7.png)
I uploaded a fairly large profile photo (2.84 MB) and the tiny preview seen in the screenshot does not seem to be downscaling. The first time I loaded the page after uploading the profile photo I could see it take a while to load. Snooping around in the dev tools seem

[2021-02-03 01:39] mianos commented on #310
Can you maybe take the item out of the preferences pane?

[2021-02-05 10:19] StenliH opened #775 "Broken UI after few minutes of using app"
# Current behavior
![boost-note-broken-graphics](https://user-images.githubusercontent.com/43877691/107018051-3d8cd480-67a0-11eb-92dd-a27491512a80.jpg)

After few minutes (sometimes only seconds) of common operations (writing text, copy&paste or viewing different notes or app preferences) UI graphics becomes scattered. Everything "works" normally but it "displays" weirdly (see screenshot). Then if

[2021-02-07 09:27] AntowaKartowa commented on #539
I am going to switch to Notable

[2021-02-07 18:16] Komediruzecki commented on #539
Hi Antowa,

sorry to hear that, I'll try to see if we can speed this up. I'll post here when those are implemented (hoping at the end of February)

Cheers

[2021-02-10 20:59] SinclairHudson commented on #721
Also having this issue! A very similar setup. Syncing images that were added on windows don't show up in linux.

[2021-02-11 02:34] git-shochann opened #778 "Not synced on Mac and iPhone"
Even if I press the update button at the same time, it will not be the same on Mac and iOS.

i tried reinstall. I also increased the storage.

# Enviroment

ios 14.4 / boostnote 0.4.1
MacOS BigSur 11.1 / boostnote 0.9.0

[2021-02-12 21:10] Omnuchka opened #780 "Hi, sorry for question: you have any plans for graph view?"
The graph view in Obsidian so awesome, I will be glad if it is also be available in BoostNote.

[2021-02-16 04:02] Rokt33r commented on #780
Absolutely. But I think I should try the app so I can see your expectation!

[2021-02-17 14:18] Komediruzecki commented on #780
Hi,

The graph is indeed cool there, I would like to try some libraries for rendering it and try to integrate it into boost note.
Maybe for start, just make the graphing of connected (linked) notes and tag connections?

[2021-02-22 01:08] mokeyish opened #807 "BoostNote cannot auto reload when the file in disk has been changed!!!"
# Current behavior
BoostNote cannot auto reload when the file in disk has been changed!!!

# Expected behavior

Auto reload the content of note file when the file in disk has been changed.

# Steps to reproduce

1. Open the app.
2. Modify note's content in disk with vscode
3. The app shows the old content,

# Environment

## Desktop/Web
- Boost Note.next version:
- OS version and name:

## Mobile

[2021-02-22 03:56] Rokt33r commented on #807
The auto reloading hasn't been shipped yet.

[2021-02-22 05:57] Rokt33r commented on #244
@ZurMaD Thanks for the comment. Apparently we can set the argument by default. I'll try to apply it from the next version. https://github.com/electron-userland/electron-builder/pull/4364

[2021-02-22 07:11] Rokt33r commented on #450
@dtantono No. You can keep your personal notes on both sides.

The current status is like

- Local Space
  - File System Storage
  - PouchDB Storage(Legacy Cloud Storage)
- Cloud Space

# Local Space

All data will be stored in your local machine.

For now, we have two types of storage but we will deprecate PouchDB storage soon in favor of the Cloud Space.
But the File System Storage will remain i

[2021-02-22 07:11] #450 closed

[2021-02-22 07:17] Rokt33r commented on #589
@CindyCyber Thanks for the suggestion. But I couldn't find any license of this font.... Do you know any other options? if you don't, I think I should make the app font configurable and write a document so users can resolve this issue by theirselves.

[2021-02-22 07:20] Rokt33r commented on #604
#782 will fix this issue and it will be shipped in v0.14.0

[2021-02-22 07:20] #462 closed

[2021-02-22 07:24] Rokt33r commented on #462
Close this issue since we've replaced the homepage code in this repository. The source code for the current homepage is hosted in a different repository. I'll open this issue again when we migrate the new one to this repository.

[2021-02-22 07:27] Rokt33r commented on #662
@ManojDaswani Close this due to inactivity. If you are still struggling with this issue, please ping @rokt33r after joining our slack channel.

[2021-02-22 07:27] #662 closed

[2021-02-22 07:34] Rokt33r commented on #625
@whiphone I'm going to close this issue because of inactivity. Please ping me if you still have the issue.

[2021-02-22 07:34] #625 closed

[2021-02-22 07:38] Rokt33r commented on #284
@Airsaid Still pending. I'll discuss this issue with my team and reveal our new roadmap soon.

[2021-02-22 07:49] Rokt33r commented on #44
@igorer88 It is still pending. Currently, we're preparing a new roadmap for this year and this feature should be included in it. I assume its ETA should be around this summer.

[2021-02-22 07:52] Rokt33r commented on #654
Fixed on Nov 21st.

[2021-02-22 07:52] #654 closed

[2021-02-22 08:09] Rokt33r commented on #735
@chrisofthecoffee Hi, thanks for the suggestion. I'll adopt the suggested solution. And please check https://github.com/BoostIO/BoostNote.next/issues/728 too.

[2021-02-22 08:16] Rokt33r commented on #756
@hkunzhe Thanks for the suggestion! We actually have a plan to introduce prettier to our app and it will cover the wrapping issue too.

[2021-02-22 08:20] Rokt33r commented on #752
Yeah, I think we should introduce the customizable keymap really soon. I'll try to prioritize this task.

[2021-02-22 08:23] Rokt33r commented on #768
@CindyCyber Thanks for reporting. I'll include the fix to v0.14.0. It should be shipped in the next week.

[2021-02-22 08:24] Rokt33r commented on #632
Closing this because it's been already implemented!

[2021-02-22 08:24] #632 closed

[2021-02-22 08:33] Rokt33r commented on #722
Closing this in favor of #762. And the fix will be shipped in v0.14.0 which will be released in the next week.

[2021-02-22 08:33] #722 closed

[2021-02-22 08:34] Rokt33r commented on #807
I'll discuss my team so we can prioritize this task

[2021-02-22 08:35] Rokt33r commented on #753
Thanks for reporting. I'll fix it.

[2021-02-22 08:36] Rokt33r commented on #774
Thanks for reporting. I'll report to our dev team so we can fix it soon.

[2021-02-22 15:24] Timoses commented on #67
Will webdav be supported?

Currently, it is great that local filestorage use is possible for the Desktop Apps. The file storage can be synced to Nextcloud (for example).

But it's impossible to use the mobile App with this approach currently because the mobile app does not seem to support the local file system storage option : /.

[2021-02-23 00:31] CindyCyber commented on #768
OK, thanks for your working.

[2021-02-23 22:05] e1fueg0 opened #811 "Create/support spaces with notes in separate .md files divided by folders"
Hello and thx for the beautiful app.

Currently the app stores notes in a number of `json` files.

I have previously created notes in a number of separated .md files divided by folders. Could it be an option to have a special kind of space which arranges notes this way? This is convenient by three reasons:
- the notes are still available to be edited with other tools, like notepad or so
- the note

[2021-02-26 17:58] rhoadsj opened #813 "vim mode esc not working properly in mac app"
# Current behavior

With vim mode in app (not web version), after going Into insert mode, ESC key does not get you back into NORMAL mode in the Mac app (Version 0.13.2 (0.13.2)). Works properly in web version.

# Expected behavior

to someone familiar with vi/vim/etc from time immemorial, ESC always gets you from insert mode to normal mode.

# Steps to reproduce

1.  Open a file in the app (not th

[2021-02-26 18:22] Komediruzecki commented on #813
Hi rhoadsj,

Already an issue opened and a fix in PR, will be fixed in next release.

[2021-02-26 18:22] #813 closed

[2021-03-03 03:34] dhjensen opened #818 "Cannot convert legacy cloud to local filesystem storage"
# Current behavior

![Boost Note_001](https://user-images.githubusercontent.com/26007707/109748304-f0522600-7bd8-11eb-9f90-d85b51a0eb99.png)

I'm trying to convert my storage to local file system. It states it failed however a lot of the files have already been created.
Based on the error I suspect references to attachments?

# Expected behavior

It should convert my storage. Or at least tell me w

[2021-03-03 11:42] StenliH commented on #775
I've just updated to 0.13.2 and the problem is solved -> no more scattering. You made my day! Thank you guys :)

[2021-03-03 11:42] #775 closed

[2021-03-03 16:23] Komediruzecki commented on #818
Yes, probably problem with attachments. Go to attachments and see if you find any attachments which has no preview,
if you found those, they are missing from file system, you should be able to safely delete them by right clicking on the attachments (empty space without preview of attachment image). After you have no references to invalid/missing attachments, you should be able to convert the stora

[2021-03-04 05:07] dhjensen commented on #818
Hmm ok but when I browse the attachment folder there is no attachments. However there is some warnings in the console:
![Boost Note_002](https://user-images.githubusercontent.com/26007707/109914245-d9cace00-7caf-11eb-8c22-7eee625e7911.png)

[2021-03-05 16:34] Komediruzecki commented on #818
Yes, that is exactly the problem.

Can you try right-clicking on the empty space in that window - because the attachment navigator item would not show if there aren't any. So if you try that you should get the dialog to remove the attachment. If there aren't on file system or in storage you should be able to remove them easily and that would leave you with fixed storage which you can convert.

[2021-03-06 10:07] bihlmaier commented on #450
Are there any plans to offer a docker image so it's easier to self-host the web app (and offer an option inside the apps to enter a custom server-url to connect to)?

[2021-03-06 10:51] irogers opened #831 "Unable to snap window to half-screen"
# Current behavior

Super + up/down minimizes and maximises window, but currently unable to snap window to half-screen.

# Expected behavior

Use Super + left/right to snap window to half-screen.

# Environment

## Desktop
- Boost Note.next version: 0.13.2 AppImage
- OS version and name: Ubuntu 20.04

[2021-03-06 18:37] lotdrops opened #832 "Cannot login on Android or Mac"
# Current behavior

I cannot login on my new phone or my secondary mac. My old phone has the app and it synced with my primary mac. But attempting to login to the new Android phone, or other mac does not work.

I attach a screenshot of the Mac console, although I do not think it will be helpful.

# Expected behavior

I should be able to login and have my notes.

# Steps to reproduce
When I try to